.chart-area-root{
    // width: 100%;
    height: 100%;
    max-height: 750px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.116);
}
.chart{
    // min-width: 340px;
    // width:100%;
    // min-height: 400px;
    max-height: 100%;
}