<div class="page-root">
    <div class="page-content">
        <div class="page-title">
            GameStop was profitable for the first time in 6 years
        </div>
        <div class="page-subtitle">
            GameStop reported full-year profitability for fiscal year 2023, contradicting the prevailing media sentiment
            that GameStop is a terrible company destined for bankruptcy
        </div>
        <div class="page-date">
            April 10, 2024
        </div>

        <!-- Summary -->
        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>
                    On March 26, 2024, GameStop released <a
                        href="https://investor.gamestop.com/news-releases/news-release-details/gamestop-reports-fourth-quarter-and-fiscal-year-2023-results"
                        target="_blank">
                        financial results</a> for the fourth quarter and fiscal year ended
                    February 3, 2024, demonstrating small but not insignificant full-year profits for the first time in
                    6 years, despite reduced revenues.

                    "Net income was $6.7 million for fiscal year 2023, compared to a net loss of $313.1 million for
                    fiscal
                    year 2022."
                </li>
                <li>
                    Sentiment of GameStop found in financial media continues to be negative, dishonest, and cynical,
                    despite the
                    undeniable but often ignored improvements to the fundamentals of the company that have been achieved
                    by the new
                    management team. In most cases, the fact that GameStop was profitable for the first time in 6 years
                    is not even mentioned at all.
                </li>
            </ul>
        </div>


        <!-- Historical Context -->
        <div class="page-section">
            <div class="section-heading">
                Historical context
            </div>
            <p>
                From a historical point of view, GameStop was consistently profitable
                every fiscal year from 2005 through 2016, with the exception of 2012.
                Starting in fiscal year 2017, GameStop began showing reduced profitability, and from FY 2018 through FY
                2022, was unprofitable.</p>
            <!-- Revenue and Net Income chart from Google Sheets -->
            <div style="max-width: 800px;">
                <iframe width="800" height="600" seamless frameborder="0" scrolling="no"
                    src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT7n4mmCwtjREaCkJVUkHe_ujHBod7vGtEB5iI_kbYToT5dU9cQSq-d3XO2PuFEZ64GCuU70jVayE0R/pubchart?oid=1937296424&amp;format=interactive"></iframe>

            </div>
            <div class="source-link-container">
                Source:
                <a style="margin-left: 10px;"
                    href="https://docs.google.com/spreadsheets/d/1kKTpWC96HO3jfOdoLl_eUxivg6rzD-axJ_il2mOyRfk/edit?usp=sharing"
                    target="_blank">
                    GameStop 10-K filings - Google Sheets
                </a>
            </div>
            <p>
                Looking exclusively at revenue, it is clear that there has been a significant reduction starting
                approximately with fiscal year 2019.
                Much of this can be attributed to the fact that gamers are increasingly buying games digitally
                rather than in the form of physical discs such as can be purchased at a brick-and-mortar retail store
                like GameStop.
            </p>
            <p>Yet, even in fiscal years 2017 and 2018, it is clear that despite high revenues the company was not
                performing well. </p>
            <p>
                Heading through 2020, GameStop was undeniably a struggling company facing significant challenges, and
                according to many was destined for bankruptcy. The trading price of GME reflected this prevailing
                sentiment, and the financial media was dutifully critical.
            </p>
        </div>

        <!-- Turnaround -->
        <div class="page-section">
            <div class="section-heading">
                Company turnaround
            </div>
            <p>
                In 2020, activist investor Ryan Cohen began purchasing shares of GME, ultimately becoming the largest
                individual owner of the company with approximately
                12% ownership.
                By June 2021, the entire board of directors of the company was replaced by Ryan Cohen and his
                associates, with Ryan Cohen becoming chairman of the board.
                From this time onward, control of the company was completely in the hands of this new leadership team.
            </p>

            <div class="quote-section">
                "We inherited a bunch of legacy everything, and under-investment across the entire business –- people,
                the entire technology stack, just decades of neglect, and so it’s hard to turn around a brick and mortar
                retailer that’s under the kind of pressure that GameStop was and continues to be under, but that was
                also part of the attraction going into GameStop was that a transformation the likes of GameStop was
                really unprecedented and I was motivated by that."
                <div class="quote-attribution">
                    <a [routerLink]="'/rc-interview'">Ryan Cohen, November 2022</a>

                </div>
            </div>



            <p>The company went from a situation where it was losing
                hundreds of millions of dollars per year to net profitability in fiscal year 2023.</p>

            <p>While this is an undeniably positive result for the company in this time period, GameStop continues to
                face numerous challenges and must continue to improve and adapt in order to successfully compete in the
                modern video game industry.</p>
        </div>

        <!-- Media sentiment -->
        <div class="page-section">
            <div class="section-heading">
                Media sentiment
            </div>
            <p>What does mainstream financial media have to say about GameStop achieving full-year profitability for the
                first time in 6 years?</p>


            <app-news-article *ngFor="let article of newsArticles" [newsArticle]="article"></app-news-article>


            <!-- Store count chart from Google Sheets -->
            <!-- <iframe width="800" height="600" seamless frameborder="0" scrolling="no"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT7n4mmCwtjREaCkJVUkHe_ujHBod7vGtEB5iI_kbYToT5dU9cQSq-d3XO2PuFEZ64GCuU70jVayE0R/pubchart?oid=2015565720&amp;format=interactive"></iframe> -->

            <p>Searching for recent news about GameStop yields mostly negative sentiment that fails to even mention at
                all that GameStop achieved full-year profitability for the first time in 6 years.
            </p>
            <p>
                Failing to mention this important detail is a deliberate decision that reveals a clear bias in the
                media.
                It goes beyond just reporting about true negative facts about GameStop. It demonstrates a deliberate
                effort, by those culpable media outlets, to propagate a specific sentiment about the company that is not
                allowed to even mention contextually important true positive facts about the company.

            </p>
            <p>
                GameStop was profitable for the first time in 6 years - this is the news headline of GameStop's recent
                earnings report. Yet, an unassuming person who consumes mainstream financial media likely would not even learn about
                this important fact at all.
            </p>
        </div>

        <div class="page-section">
            <div class="section-heading">Ongoing financial conflict</div>
            <p>Why are there competing, mutually exclusive narratives?</p>
            <p>There are competing narratives because there are competing financial interests.
            </p>
            <p>One of the listed news
                articles, <i>
                    <a href="https://www.reuters.com/breakingviews/gamestop-saga-ends-winner-capital-markets-2024-04-03/"
                        target="_blank">GameStop saga ends. Winner: capital markets</a></i>, from Reuters,
                draws some attention to this ongoing conflict while declaring that the conflict is actually over and one
                side has won and one side has lost.
            </p>
            <p>GME shareholders that believe in the company turnaround and leadership, despite the real challenges faced
                by GameStop, have a vested financial interest in the success of the
                company, with a desire for the share price of GME to go up, and naturally will promote the narrative that supports this financial interest.
            </p>
            <p>
                In opposition to GME shareholders are all of the financial market participants that have a vested
                financial interest in the share price of GME going down. An
                example of such a participant would be any hedge fund that has a net short position on GME. The article
                refers to this faction as "shorts", recogonizing that such a faction with an interest does exist.
                Naturally, members of this faction will promote the narrative that supports their financial interest.
            </p>
            <p>If the prospect of GameStop's success was not an ongoing threat to one faction of incumbent market participants, then
                there would be no reason to deliberately ignore the significance of GameStop's profitability.</p>
            <p>
                Recognizing that there is an ongoing financial competition between factions that stand to benefit financially from a
                particular outcome of the GME share price,
                which faction benefits when most mainstream financial media articles propagate negative sentiment and deliberately ignore the contextually
                significant fact that GameStop was profitable?
            </p>

            <p>It is clear: much of mainstream financial media is actively propagating biased narratives to the benefit of the faction that has a vested financial interest in the demise of GameStop.</p>

        </div>

    </div>

</div>