<div class="page-root">
    <div class="page-content">
        <div class="page-title">
            GameStop was profitable for the first time in 6 years
        </div>
        <div class="page-subtitle">
            GameStop reported full-year profitability for fiscal year 2023, upsetting the prevailing media narrative that GameStop is a company destined for bankruptcy
        </div>
        <div class="page-date">
            Article date: April 2024
        </div>
        <!-- <div style="border-bottom:1px solid rgb(204, 204, 204); height: 1px;"></div> -->
        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>
                    On March 26, 2024, GameStop released <a
                    href="https://investor.gamestop.com/news-releases/news-release-details/gamestop-reports-fourth-quarter-and-fiscal-year-2023-results"
                    target="_blank">
                    financial results</a> for the fourth quarter and fiscal year ended
                    February 3, 2024, demonstrating small but not insignificant full-year profits for the first time in
                    6 years, despite reduced revenues.

                    "Net income was $6.7 million for fiscal year 2023, compared to a net loss of $313.1 million for
                    fiscal
                    year 2022."
                </li>
                <li>
                    Sentiment of GameStop found in financial media continues to be negative and cynical, despite the
                    undeniable improvements to the fundamentals of the company that have been achieved by the new
                    management team.
                </li>
            </ul>

        </div>
        <div class="page-section">
            <div class="section-heading">
                Historical Context
            </div>
            <p>
                From a historical point of view, GameStop was consistently profitable
                every fiscal year from 2005 through 2016, with the exception of 2012.  
                Starting in fiscal year 2017, GameStop began showing reduced profitability, and from FY 2018 through FY
                2022, was unprofitable.</p>
            <!-- Revenue and Net Income chart from Google Sheets -->
            <iframe width="800" height="600" seamless frameborder="0" scrolling="no"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT7n4mmCwtjREaCkJVUkHe_ujHBod7vGtEB5iI_kbYToT5dU9cQSq-d3XO2PuFEZ64GCuU70jVayE0R/pubchart?oid=1937296424&amp;format=interactive"></iframe>
            <div class="source-link-container">
                Source: 
                <a style="margin-left: 10px;" 
                    href="https://docs.google.com/spreadsheets/d/1kKTpWC96HO3jfOdoLl_eUxivg6rzD-axJ_il2mOyRfk/edit?usp=sharing" target="_blank">
                    GameStop 10-K filings - Google Sheets
                </a> 
            </div>
            <p>
                Looking exclusively at revenue, it is clear that there has been a significant reduction starting approximately with fiscal year 2019. 
                Much of this can be attributed to the fact that gamers are increasingly buying games digitally
                rather than in the form of physical discs such as can be purchased at a brick-and-mortar retail store
                like GameStop.
            </p>
            <p>Yet, even in fiscal years 2017 and 2018, it is clear that despite high revenues the company was not
                performing well.  </p>
            <p>
                Heading through 2020, GameStop was undeniably a struggling company facing significant headwinds, and according to many, was destined for bankruptcy.  The trading price of GME reflected this prevailing sentiment, and the financial media was dutifully critical.
            </p>


        </div>

        <!-- <div class="page-section">
            <div class="section-heading">
                Competing narratives:  
            </div>
        </div> -->

        <div class="page-section">
            <div class="section-heading">
                Company turnaround:  2021 to present
            </div>
            <p>
                In 2020, activist investor Ryan Cohen began purchasing shares of GME, ultimately becoming approximately 12% owner of the company.  
                By June 2021, the entire board of directors of the company was replaced by Ryan Cohen and his associates, with Ryan Cohen becoming chairman of the board.
                From this time onward, the company was completely in the hands of this new leadership team.
            </p>
            <p>By end of fiscal year 2023, the new leadership has taken the company from a situation where it was losing hundreds of millions of dollars per year to net profitability.</p>
        </div>


        <div class="page-section">
            <div class="section-heading">
                GameStop Store Count
            </div>

            <!-- Store count chart from Google Sheets -->
            <iframe width="800" height="600" seamless frameborder="0" scrolling="no"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT7n4mmCwtjREaCkJVUkHe_ujHBod7vGtEB5iI_kbYToT5dU9cQSq-d3XO2PuFEZ64GCuU70jVayE0R/pubchart?oid=2015565720&amp;format=interactive"></iframe>


        </div>
    </div>

</div>


<!--

    March 26, 2024

    GameStop faces 'unsustainable' sales decline, cuts jobs to control costs
https://finance.yahoo.com/news/gamestop-q4-revenue-falls-201314894.html


A Sales Slump Is the Kiss of Death for GameStop Stock
Apr 3, 2024
https://www.tradingview.com/news/investorplace:381becc47094b:0-a-sales-slump-is-the-kiss-of-death-for-gamestop-stock/



2024-03-27
https://www.fastcompany.com/91070475/gamestop-could-be-gone-in-less-than-5-years-says-analyst
GameStop could be gone in less than 5 years, says analyst

As GameStop announces layoffs and mounting losses, Michael Pachter of Wedbush warns the retailer’s days could be numbered.
https://www.reddit.com/r/Superstonk/comments/1bvx0sm/tell_me_you_are_short_gme_without_telling_me_you/



GameStop saga ends. Winner: capital markets
2024-04-04
https://www.reuters.com/breakingviews/gamestop-saga-ends-winner-capital-markets-2024-04-03/
https://www.reddit.com/r/Superstonk/comments/1bvmhch/guess_its_all_over/




-->