<div class="page-root">
    <div class="page-title">
        GameStop was Profitable in Fiscal Year 2023
    </div>
    <div class="page-subtitle">
        March 26, 2024  
    </div>
</div>


<!--

    March 26, 2024

    GameStop faces 'unsustainable' sales decline, cuts jobs to control costs
https://finance.yahoo.com/news/gamestop-q4-revenue-falls-201314894.html


A Sales Slump Is the Kiss of Death for GameStop Stock
Apr 3, 2024
https://www.tradingview.com/news/investorplace:381becc47094b:0-a-sales-slump-is-the-kiss-of-death-for-gamestop-stock/



2024-03-27
https://www.fastcompany.com/91070475/gamestop-could-be-gone-in-less-than-5-years-says-analyst
GameStop could be gone in less than 5 years, says analyst

As GameStop announces layoffs and mounting losses, Michael Pachter of Wedbush warns the retailer’s days could be numbered.
https://www.reddit.com/r/Superstonk/comments/1bvx0sm/tell_me_you_are_short_gme_without_telling_me_you/



GameStop saga ends. Winner: capital markets
2024-04-04
https://www.reuters.com/breakingviews/gamestop-saga-ends-winner-capital-markets-2024-04-03/
https://www.reddit.com/r/Superstonk/comments/1bvmhch/guess_its_all_over/




-->