<div class="guide-root">
    <div class="title">
        Guide
    </div>
    <div class="content">
        <h3>Situation Preface</h3>
        <ul>

            <li>
                <h4>Ongoing Conflict</h4>
                <ul>
                    <li>There is an ongoing information and financial conflict between those that hold bullish long term
                        view of
                        GME, e.g. shareholders, and those that hold bearish negative view of GME, e.g. short hedge
                        funds and
                        perpetrators of naked short selling.</li>
                </ul>
            </li>

            <li>
                <h4>Naked Short Selling</h4>
            </li>
            <ul>
                <li>Naked short selling is a real and prevalent form of illegal fraud that steals value from
                    shareholders of
                    victim companies.</li>
                <li>Naked short selling contributes to market manipulation by artificially increasing the supply of
                    shares
                    being traded in the market.</li>

                <li>The intent of some naked short sellers is to achieve financial gains by betting against the target
                    victim company and causing it to go out of business.</li>
                <li>The DTC, a self-regulating organization (SRO), responsible for the functions of a central securities
                    depository, is complicit in ongoing naked short selling by failing to hold the perpetrators
                    accountable and
                    enabling
                    the illegal activity to continue.</li>
            </ul>
            <li>
                <h4>Share Ownership</h4>
            </li>

            <ul>

                <li>Shares held in brokerage accounts are considered beneficially owned and do not represent true share
                    ownership. The true owner of these shares is Cede & Co, a subsidiary of the DTC.</li>
                <!-- https://www.investor.gov/what-registered-owner-what-beneficial-owner -->
                <li>Registered shares provide true share ownership and takes the shares out of DTC's possession.</li>
                <li>DRS (the direct registration system) is the mechanism that allows shareholders to have shares
                    directly
                    registered in their name, providing the shareholder with true share ownership.</li>
            </ul>


        </ul>

        <hr>

        <h3>Conflict Participants</h3>
        <ul>
            <li>
                <h4>Factions and Participants</h4>
                <ul>
                    <li>GME proponents, including shareholders, company insiders, and anyone else that wants to see the
                        company succeed</li>
                    <li>GME opponents, including short hedge funds holding a GME short position, perpetrators of naked
                        short
                        selling of GME, and anyone else that wants to see the company fail</li>

                    <li>Regulators, e.g. the SEC</li>
                    <li>Self-Regulating Organizations (SROs), e.g. the DTC, FINRA</li>
                    <li>The media, on a spectrum of credibility, that reports honestly or dishonestly about what is
                        really
                        happening</li>
                    <li>Social media companies (e.g. Reddit), that possess the authority to control communities and information</li>
                </ul>
            </li>


            <li>
                <h4>Objectives and Motivations</h4>
                <ul>
                    <li>GME proponents want to see GameStop succeed and have a financial interest in seeing that success
                        materialize. </li>
                    <li>GME opponents want to see GameStop fail and go out of business, and have a financial interest in
                        the
                        materialization of
                        GameStop's demise.</li>
                    <li>GME opponents have created a zero-sum situation in which they have committed themselves to
                        succeeding
                        from
                        GameStop's demise. The only outcome in which GME opponents survive at all necessarily requires
                        GameStop
                        to go out of busisness.
                        Because of this, the opponents are taking any and all actions that they can that will help them
                        achieve
                        this outcome.</li>
                </ul>
            </li>

            <li>

                <h4>Victory Conditions</h4>
                <ul>
                    <li>Proponents of GME achieve victory in this conflict when the opponents capitulate. This would
                        coincide
                        with a (potentially significant) increase in the market value of shares of GME.</li>
                    <li>Opponents of GME achieve victory in this conflict when the proponents capitulate, the trading
                        price of
                        GME reaches $0.0001, the company goes
                        out of business, and their short position remains unclosed indefinitely.</li>
                </ul>
            </li>

        </ul>

        <hr>



        <h3>GameStop</h3>
        <ul>
            <li>GameStop is a company that is the vicctim of egregious naked short selling of its stock (GME).
            </li>
            <li>GameStop is at no risk of bankruptcy in the short to medium term.</li>

            <li>GameStop demonstrates actions conducive to long term success, which includes exploring new avenues for
                revenue.</li>
            <li>GameStop shareholders and board of directors are in alignment.</li>
            <li>Approximately 25% of all officially issued shares of GME have been directly registered by approximately
                200,000 individual investors.</li>
            <li>GameStop has $100 million in cash on hand set aside for the purpose of a potential share buyback, if
                such an action becomes deemed worthwhile. This means that if the trading price of GME drops below a
                certain value, GameStop can execute a share buyback which would cause the supply of GME shares to
                decrease and cause other outcomes.</li>
        </ul>

        <hr>

        <h3>Conjecture</h3>
        <ul>
            <li>If a sufficient number of shares were directly registered, it would undeniably expose the reality that
                there are too many shares (counterfeit shares) in existence in the market, under the DTC's watch</li>
            <li>The conditions of the situation as it now exists implies that the perpetrators of naked short selling
                are committed to their bearish bet and that their only way they survive this situation is if the victim
                company goes bankrupt and dies.</li>
            <li>A short squeeze can happen when the price of the stock goes up and causes short sellers (and naked short
                sellers) to buy shares in the open market to exit their position.</li>
            <li>A probable short squeeze can be considered an asset to long term bullish investors that have an interest
                in the value of their shares going up over time.</li>
            <li>The mainstream financial media demonstrates obvious bias against GameStop and against GME investors.
            </li>
            <li>Methods of propaganda are used by the faction of GME opponents to manipulate public opinion and
                sentiment.</li>
            <li>The propagated view that benefits GME opponents is one that suggests that GameStop has no long term
                chance to succeed and that GameStop investors that believe in the long term success of the company are
                necessarily misinformed or even delusional.</li>
        </ul>

    </div>
</div>