<div class="guide-root">
    <div class="title">
        Guide
    </div>
    <div class="content">
        <ul>
            <li>Naked short selling is a real and prevalent form of illegal fraud that steals value from shareholders of victim companies.</li>
            <li>Naked short selling contributes to market manipulation by artificially increasing the supply of shares being traded in the market.</li>
            <li>The DTC, a self-regulating organization (SRO), responsible for the functions of a central securities depository, is complicit in this activity by failing to hold the perpetrators accountable.</li>
            <li>Shares held in brokerage accounts are considered beneficially owned and do not represent true share ownership.  The true owner of these shares is Cede & Co, a subsidiary of the DTC.</li>
            <!-- https://www.investor.gov/what-registered-owner-what-beneficial-owner -->
            <li>Registered shares provide true share ownership and takes the shares out of DTC's possession.</li>
            <li>DRS (the direct registration system) is the mechanism that allows shareholders to have shares directly registered in their name, providing the shareholder with true share ownership.</li>
            <li>If a sufficient number of shares were directly registered, it would undeniably expose the reality that there are too many shares (counterfeit shares) in existence in the market, under the DTC's watch</li>
            <li>GameStop is a victim company whose stock (GME) has been the target of egregious naked short selling.</li>
            <li>The conditions of the situation as it now exists implies that the perpetrators of naked short selling are committed to their bearish bet and that their only way they survive this situation is if the victim company goes bankrupt and dies.</li>
            <li>GameStop is at no risk of bankruptcy in the short to medium term.</li>
            <li>GameStop demonstrates actions conducive to long term success, which includes exploring new avenues for revenue.</li>
            <li>GameStop shareholders and board of directors are in alignment.</li>
            <li>Approximately 25% of all officially issued shares of GME have been directly registered by approximately 200,000 individual investors.</li>
            <li>A short squeeze can happen when the price of the stock goes up and causes short sellers (and naked short sellers) to buy shares in the open market to exit their position.</li>
            <li>A probable short squeeze can be considered an asset to long term bullish investors that have an interest in the value of their shares going up over time.</li>
            <li>The mainstream financial media demonstrates obvious bias against GameStop and against the faction of GME proponents</li>
            <li>There is an ongoing information and financial conflict between those that hold bullish long term view of GME, e.g. shareholders, and those that hold bearish negative view of GME, e.g. short hedge funds, perpetrators of naked short selling.</li>
            <li>Methods of propaganda are used by the faction of GME opponents to manipulate public opinion and sentiment.</li>
            <li>The propagated view that benefits GME opponents is one that suggests that GameStop has no long term chance to succeed and that GameStop investors that believe in the long term success of the company are necessarily misinformed or even delusional.</li>
        </ul>    
    
    </div>
</div>