<div class="page-section">
    <div class="section-heading">
        Discovery and journey of DRS by GME shareholders
    </div>
    <p>
        In the aftermath of the <a [routerLink]="'/sneeze'">GME sneeze of January 2021</a>, GME shareholders
        began to search for information to help make sense of what really happened and how the market actually
        works.
    </p>
    <p>
        Through a series of discoveries and conversations, GME shareholders eventually learned
        that DRS was the only way that shareholders could take ownership of their shares away from the DTC and
        give it to themselves.
    </p>
    <li class="timeline-item">
        <div class="timeline-item-date">February 2, 2021</div>
        <div class="icon-container">
            <img src="assets/icons/reddit-icon.png" alt="" class="timeline-item-icon">
        </div>


        <div class="timeline-item-body">
            A post on r/wallstreetbets titled <a
                href="https://www.reddit.com/r/wallstreetbets/comments/lb1b6w/checkmate_wall_street/" target="_blank">
                "Checkmate wall street! 🚀🚀"</a> advocated possibly for the first time for
            GME
            shareholders to directly register their shares with the company's transfer agent. "Move your
            shares
            from your broker to direct registration. This puts the stock in YOUR name and not your brokerage
            (this is the electronic equivalent of a physical stock certificate)."
        </div>
        <br>
    </li>

    <li class="timeline-item">
        <div class="timeline-item-date">March 15, 2021</div>
        <div class="icon-container">
            <img src="assets/icons/reddit-icon.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">
            GME shareholders begin to move away from the r/WallStreetBets subreddit and eventually began using other
            subreddits specifically for GME. Eventually, r/superstonk emerges as the predominant GME subreddit, and to
            this day remains the largest online community of GME shareholders.
        </div>
    </li>

    <li class="timeline-item">
        <div class="timeline-item-date">April 29, 2021</div>
        <div class="icon-container">
            <img src="assets/icons/reddit-icon.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">
            r/superstonk conducts an <a href="https://www.youtube.com/watch?v=fGVY2Kco8ng" target="_blank">AMA
                interview with Susanne
                Trimbath</a>, author of the book <a
                href="https://www.goodreads.com/book/show/49089890-naked-short-and-greedy" target="_blank">Naked,
                Short and Greedy</a>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">August 12, 2021 </div>
        <div class="icon-container">
            <img src="assets/icons/fidelity-icon.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">
            Fidelity, a major financial services company with financial interests, becomes a <a
                href="https://www.reuters.com/technology/reddit-raise-700-million-over-10-billion-valuation-2021-08-12/"
                target="_blank">significant investor/owner of Reddit</a>.

            <p>
                "Reddit will raise up to $700 million in a fundraising round led by Fidelity Management."<br>
                "[Reddit] said it had already raised $410 million from Fidelity in its second funding round
                since the start of the year when small-time traders gathered on its platform in their battle
                against Wall Street institutions.
                The traders, initially focused on Reddit's WallStreetBets forum but now spread across discussion
                boards, have changed how Wall Street analysts operate, causing major losses for some funds and
                powering huge gains in the shares of companies including GameStop (GME), and AMC."
            </p>
            <p>As a significant investor/owner of Reddit, this gives Fidelity access to valuable data from Reddit
                as well as influence into Reddit. Reddit eventually began to make executive decisions in
                Fidelity's interests, and against the interest of GME shareholders and against DRS.
            </p>
            <p>Curiously, evidence exists that shows that at least 1 moderator of superstonk was a former employee of
                Fidelity.</p>
        </div>
    </li>


    <li class="timeline-item">
        <div class="timeline-item-date">August to October 2021</div>
        <div class="icon-container">
            <img src="assets/icons/reddit-icon.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">Discussions of DRS continued in places like r/superstonk and by
            end of August 2021, despite a significant amount of opposition to the idea,
            GME shareholders began
            contacting their brokers and requesting that their shares be moved to DRS.

            <p>GME shareholders that had requested their shares be moved to DRS started obtaining access to their
                account with Computershare, and would <a
                    href="https://www.reddit.com/r/Superstonk/comments/q1ae4a/purple_circle_club_this_is_the_way/"
                    target="_blank">post screenshots</a> of their holdings with Computershare, demonstrating their
                successful move to DRS.</p>
            <img src="assets/drs/computershare-account.png"
                style="max-width: 100%; border-radius: 5px;border: 1px solid rgb(230, 230, 230);"
                alt="meme stock guy from fidelity">
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">November 4, 2021</div>
        <div class="icon-container">
            <img src="assets/icons/computershare-icon.jpg" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">
            r/superstonk conducts an <a href="https://www.youtube.com/watch?v=LVEJo87jejo" target="_blank">AMA
                interview with Paul Conn,
                President of Global Capital Markets at
                Computershare</a>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">November 29, 2021</div>
        <div class="icon-container">
            <img src="assets/icons/computershare-icon.jpg" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">r/superstonk conducts a second <a
                href="https://www.youtube.com/watch?v=bo427AW0anw" target="_blank">AMA interview with Paul
                Conn</a></div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">December 8, 2021</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            GameStop reported financial results for Q3 2021, reporting
            for the first time the number of shares of GME that were directly registered:
            "as of October 30, 2021, 5.2 million shares of our Class A common stock were directly registered
            with our transfer agent, ComputerShare," representing 6.9% of all issued shares.

            <p style="color:black;">
                Up until this point, DRS was something that many GME shareholders were still skeptical of. When GameStop
                reported the numbers in their 10-Q filing,
                this was a demonstration to GME shareholders that putting their shares in DRS was a worthwhile
                endeavour, something that the company itself cared about enough to provide data about it.
            </p>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">December 22, 2021</div>
        <div class="icon-container">
            <img src="assets/icons/computershare-icon.jpg" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">
            r/GMEJungle conducts an <a href="https://www.youtube.com/watch?v=zc2_Zmvf8ZU" target="_blank">AMA
                interview with Paul Conn</a>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">January 29, 2022</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            GameStop publishes Q4 2021 earnings and DRS update (11.66% of shares outstanding are DRS)
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">March 18, 2022</div>
        <div class="icon-container">
            <img src="assets/icons/drsgme-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">GME investors from r/superstonk publish the website <a
                href="https://www.drsgme.org/">DRSGME.org</a>.

            <p>Not too long afterwards, one of the cofounders of the
                website, who was a regular and well-liked member of superstonk, is banned from that subreddit without
                justification by the unaccountable moderators there, and subsequently starts a new
                subreddit at r/DRSyourGME</p>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">April 30, 2022</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            Q1 2022 DRS update (16.68%)
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">July 30, 2022</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            Q2 2022 DRS update (23.41%)
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">October 26, 2022</div>
        <div class="icon-container">
            <img src="assets/icons/fidelity-icon.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">

            Fidelity presents <a
                href="https://www.reddit.com/r/Superstonk/comments/yedjog/in_case_you_missed_it_fidelitys_meme_stock_guy/?sort=top"
                target="_blank">a characterization of DRS'd shareholders of GME</a>, demonstrating
            awareness and contempt for registered GME shareholders. <br>

            <p>
                "The whole post seemed padded out to get to the one punchline of making the meme stock investor look
                like a neckbeard loser. "
            </p>



            <img src="assets/meme-stock-guy.jpeg"
                style="max-width: 100%; border-radius: 5px;border: 1px solid rgb(230, 230, 230);"
                alt="meme stock guy from fidelity">
            <p>This image could only possibly refer to registered shareholders of GME. The image says "meme
                stock guy", but GME shareholders are the only
                shareholders that have used the purple circle to represent their position.</p>

        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">October 29, 2022</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            Q3 2022 DRS update (23.57%)
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">November 19, 2022</div>
        <div class="icon-container">
            <img src="assets/icons/ryan-cohen-icon.png" alt="RC" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">
            Ryan Cohen changes his Twitter bio and <a href="https://x.com/ryancohen/status/1593989511171784705"
                target="_blank">tweets</a>: "I also want to be the Book King 👑", with a link to <a
                href="https://lemmy.whynotdrs.org/post/435056" target="_blank">newly published</a> Teddy.com, a website
            that apparently sold children's books authored by himself.
            <img src="assets/drs/book-king.jpg"
                style="max-width: 100%; border-radius: 5px;border: 1px solid rgb(230, 230, 230);" alt="The Book King">
            <p>This tweet was posted shortly after The Wall Street Journal published an article titled:
                <a href="https://www.wsj.com/articles/gamestops-ryan-cohen-wants-to-be-more-than-a-meme-stock-king-11668834015"
                    target="_blank">GameStop’s Ryan Cohen Wants to Be More Than a Meme-Stock King</a>.
            </p>
            <p>
                Regardless of what Ryan Cohen specifically intended by this, to many GME shareholders, "Book King" has
                been understood as a message pertaining to DRS versus DSPP.
            </p>
            <p>Up until this point, the DRS versus DSPP distinction was something that GME shareholders were not widely
                aware of. It was generally assumed, incorrectly, that if shares are with an account
                through Computershare, then those shares were necessarily DRS shares.

                <!-- This tweet helped get GME investors started down a path towards discovery and understanding about this distinction. -->
            </p>
            <p></p>

            <p>If a shareholder ever held any shares under "Plan Holdings" in their Computershare account, it would look
                something like this:</p>
            <img src="assets/drs/book-plan-holdings.png"
                style="max-width: 100%; border-radius: 5px;border: 1px solid rgb(230, 230, 230);"
                alt="'Book' versus 'Plan'">
            <p>
                Shareholders are presented with two different share types, labelled as "Book", and "Plan Holdings". This
                is confusing and ambiguous because "Book" is understood
                to mean "<a href="https://www.investopedia.com/terms/b/bookentrysecurities.asp"
                    target="_blank">book-entry</a>",
                which just means electronically recorded shares. However, since both "Book" share type and "Plan
                Holdings"
                share type are by definition book-entry shares, the labelling does not properly distinguish the
                difference between these share types.
            </p>
            <p>
                If Computershare's choice of labels were more accurate, what shareholders would be presented with would
                look more like this:
            </p>
            <img src="assets/drs/book-plan-holdings-modified.png"
                style="max-width: 100%; border-radius: 5px;border: 1px solid rgb(230, 230, 230);"
                alt="'Book' versus 'Plan'">
            <p>When Ryan Cohen became The Book King 👑, many GME shareholders in places like r/superstonk believed that
                Ryan Cohen was stating an endorsement of holding shares in DRS, aka "Book", and not DSPP, aka "Plan".
            </p>
            <p>
                GME shareholders began to discuss the differences between the two disctinct types of holding, with the
                general consensus being that holding shares under "Book" share type in their Computershare account was
                the way.

            </p>

            <p>Curiously, in the weeks and months following The Book King message, these conversations slowly started
                disappearing from superstonk.
                The moderators there started <a
                    href="https://www.reddit.com/r/Superstonk/comments/zolyun/comment/j0pnumn" target="_blank">
                    spamming their own template messages</a> into these conversations that were unnecessarily long and
                confusing,
                used out-of-date and ambiguous information,
                and in general were against the community consensus,
                suggesting that Plan Holdings were maybe even preferrable to holding in type Book.
            </p>
            <p>
                The moderators there started restricting these conversations entirely.
            </p>
            <p>

                Eventually, by around February 2023, the "Book versus Plan" conversations as they were <a
                    href="https://lemmy.whynotdrs.org/post/575406" target="_blank">
                    inaccurately referred to at the time</a>, disappeared almost entirely from superstonk.</p>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">November 21, 2022</div>
        <div class="icon-container">
            <img src="assets/icons/computershare-icon.jpg" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">r/superstonk conducts a third <a
                href="https://www.youtube.com/watch?v=xFQmiLWiv5Y" target="_blank">AMA interview with Paul
                Conn</a></div>
    </li>



    <li class="timeline-item">
        <div class="timeline-item-date">March 22, 2023</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            Q4 2022 DRS update (24.94%)<br>
            <span style="color:black;">GameStop modifies the language used in providing registered share
                counts</span><br>
            As of March 22, 2023, there were 197,058 record holders of our Class A Common Stock. Excluding the
            approximately 228.7 million shares of our Class A Common Stock <b>held by Cede & Co</b> on behalf of
            the Depository Trust & Clearing Corporation (or approximately 75% of our outstanding shares),
            approximately 76.0 million shares of our Class A Common Stock were <b>held by record holders</b> as
            of March 22, 2023 (or approximately 25% of our outstanding shares).
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">April 17, 2023</div>
        <div class="icon-container">
            <img src="assets/icons/reddit-icon.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">A <a
                href="https://web.archive.org/web/20230418165947/https://www.reddit.com/r/DRSyourGME/comments/12pfm9s/breaking_new_info_a_portion_of_all_your_shares"
                target="_blank">
                popular post in r/DRSyourGME
            </a> reignited the DRS versus DSPP distinction, a conversation which had become relatively dormant by that
            time.


            <p>This post contained newly found information which demonstrated that holding any shares in DSPP
                exposes all DRS holdings to DSPP, and that to ensure all holdings are DRS, a shareholder must terminate
                DSPP.</p>
            <img src="assets/drs/drs-dspp.png"
                style="max-width: 100%; border-radius: 5px;border: 1px solid rgb(230, 230, 230);" alt="heat-lamp">

            <p>
                Some shareholders attempted to post this information in r/superstonk, but for some reason, the mods of
                that
                subreddit
                evidently felt that this was not a subject of conversation that GME
                shareholders should be allowed to talk about, and deliberately censored all attempts at sharing the
                post.
            </p>

            <p>
                This caused anger among GME shareholders against the moderators of r/superstonk, and created a
                Streissand effect for the r/DRSyourGME subreddit,
                causing the subscriber count of that subreddit
                to explode, more than tripling in size in the following weeks.
            </p>
            <img src="assets/drs/drsyourgme-subscribers.png"
                style="max-width: 100%; border-radius: 5px;border: 1px solid rgb(230, 230, 230);"
                alt="r-drsyourgme-subscribers">

            <p>
                Many GME shareholders were fed up with the censorship in superstonk, and were
                happy to find a new subreddit where the DRS versus DSPP distinction was allowed to be discussed openly.
            </p>
            <p>
                <!-- This post had expanded on an <a
                    href="https://www.reddit.com/r/GME/comments/zl8h75/why_drs_numbers_may_have_come_in_low_the_burger/"
                    target="_blank">
                    earlier post</a> by the same OP where the term "heat lamp theory" originates from. -->
                This post preceded 
                <a href="https://web.archive.org/web/20230424131334/https://www.reddit.com/r/DRSyourGME/comments/12xfcnl/the_heat_lamp_theory_why_youd_never_heard_of_it/" target="_blank">
                another popular post by the same OP a few days later</a> which eventually became known as the "heat lamp theory," a hypothesis that DSPP shares held for "operational efficiency" at DTC is determined by a variable such as trading volume, and that there is abnormally high trading volume on DRS record dates. 
            </p>
        </div>
    </li>

    <li class="timeline-item">
        <div class="timeline-item-date">April 20, 2023</div>
        <div class="icon-container">
            <img src="assets/icons/reddit-icon.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">
            In response to the recent episode of deliberate and sustained censorship of the DRS versus DSPP distinction
            perpetrated by the superstonk moderators against the community of GME shareholders, the lead superstonk
            moderator
            <a href="https://www.reddit.com/r/Superstonk/comments/12to5w5/superstonk_fireside_chat_4202023/?sort=top"
                target="_blank">
                writes a post which attempts to defend their
                censorship</a> by <a href="https://en.wikipedia.org/wiki/Playing_the_victim" target="_blank">assuming the position of the
                victim</a> and accusing other people of acting inappropriately.

            <p>"Speculate all you want. Bring forth information. Discuss. Peer review. But don’t attack the mod team,
                Computershare, or most importantly, each other, for discussion(s) around ideas."</p>
            <p>"There are many communities on Reddit and on the Internet as a whole that do not have any peer review
                standards. If you have read this message, and it makes you even more frustrated than when you started,
                you might feel more comfortable on a subreddit without any review standards that allow baseless
                accusations and speculation without proof which masquerade as fact. That’s not what we do here."</p>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">May 2, 2023</div>
        <div class="icon-container">
            <img src="assets/icons/computershare-icon.jpg" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">Reacting to recent discussions on Reddit about the DRS versus DSPP distinction,
            Computershare
            posts <a href="https://youtu.be/9Ii-5tgvZKk" target="_blank">An update on
                Fractional and Plan Shares from Computershare’s Paul Conn </a></div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">June 5, 2023</div>
        <div class="icon-container">
            <img src="assets/icons/drsgme-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">In the week of June 5, 2023, <a
                href="https://www.drsgme.org/the-stockholder-list-summary" target="_blank">some GME
                shareholders
                visited GameStop headquarters in Grapevine, Texas,</a> to view
            the list of stockholders eligible to vote at the annual meeting.

            <p>The viewing of the stockholder list was approved and accomodated by GameStop.</p>
            <p>While the stockholder list shows real names and home addresses and share counts of all registered
                shareholders, GameStop vetted all handwritten notes that were taken to ensure no personally identifying
                information was recorded.</p>
            <p>Those that viewed the stockholder list subsequently shared their data in the r/DRSyourGME subreddit,
                which included information about DRS versus DSPP share counts.</p>
            <img src="assets/drs/2023-stockholder-list.PNG"
                style="max-width: 100%; border-radius: 5px;border: 1px solid rgb(230, 230, 230);"
                alt="2023 stockholder list">
            <p>Among the conversations about this on r/DRSyourGME, there were questions and discussions about who all was
                on the list. For example, was Roaring Kitty, whose real name is well known, on the stockholder list? No,
                his name was not on the list.
            </p>
            <p>The existence or non-existence of a registered GME position was asked and discussed of other prominent
                community members as well. It was these discussions specifically which were used to accuse this
                subreddit of inappropriate (and illegal) behavior.</p>
        </div>

    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">June 7, 2023</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            <span style="color:black;">GameStop modifies reporting language, changing record holders to registered
                holders</span><br>
            <p>As of June 1, 2023, there were approximately 304,751,243 shares of our Class A common stock outstanding.
                Of those outstanding shares, approximately 228.1 million were held by Cede & Co on behalf of the
                Depository Trust & Clearing Corporation (or approximately 75% of our outstanding shares) and
                approximately 76.6 million shares of our Class A common stock were held by <b>registered holders</b>
                with our
                transfer agent (or approximately 25% of our outstanding shares) as of June 1, 2023.</p>
            Q1 2023 DRS update (24.14%)
        </div>
    </li>


    <li class="timeline-item">
        <div class="timeline-item-date">June 9, 2023</div>
        <div class="icon-container">
            <img src="assets/icons/reddit-icon.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">

            Despite that the viewers of the stockholder list did not view the ledger, which is different from the
            stockholder list,
            Susanne Trimbath <a href="https://x.com/SusanneTrimbath/status/1667275379806019584" target="_blank">posted
                on X</a>: <br>
            "I hope whoever shared information from a shareholder ledger on Reddit knows they violated a Federal
            Regulation."

            <p>
                Reacting to the recent viewing of the stockholder list and leaning fully into Susanne Trimbath's false
                accusation that something illegal had happened,
                the lead superstonk moderator makes <a
                    href="https://www.reddit.com/r/Superstonk/comments/145j69y/fireside_chat_692023_on_the_topic_of_doxxing_and/?sort=top"
                    target="_blank">a post</a> denouncing recent actions of the r/DRSyourGME community.<br>
            </p>

            <p>The post untruthfully stated that "The personal financial information... of members of our mod team,
                Superstonk, and other GME communities was posted by another sub on Reddit."<br>
                "To those who released this information, this was profoundly stupid."</p>

        </div>

    </li>



    <li class="timeline-item">
        <div class="timeline-item-date">June 14, 2023</div>
        <div class="icon-container">
            <img src="assets/icons/reddit-icon.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">Without justification or accountability, Reddit permanently bans the
            r/DRSyourGME subreddit. 
            
            <p>            The team behind that
                subreddit sets up a new shop with <a href="https://mee6.xyz/i/xyGz2buGJR" target="_blank">a Discord
                    server</a> and their own <a href="https://lemmy.whynotdrs.org/" target="_blank">Lemmy
                    instance</a>. Some GME shareholders from this community begin to use these alternative platforms as well
                as X.</p>


            <img src="assets/DRSyourGME-banned.PNG"
                style="max-width: 100%; border-radius: 5px;border: 1px solid rgb(230, 230, 230);"
                alt="r-drsyourgme-banned">
        </div>
    </li>

    <li class="timeline-item">
        <div class="timeline-item-date">August 31, 2023</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            Q2 2023 DRS update (24.70%)
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">November 30, 2023</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            Q3 2023 DRS update (24.68%)
        </div>
    </li>



    <li class="timeline-item">
        <div class="timeline-item-date">February 9, 2024</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">
            GameStop rejects proposals submitted by shareholders. Most of these proposals pertained to DRS and
            GameStop's relationship with Computershare.
            <a href="https://lemmy.whynotdrs.org/post/900838" target="_blank">Discussion on Lemmy</a>
        </div>
    </li>

    <li class="timeline-item">
        <div class="timeline-item-date">March 26, 2024</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            Q4 2023 DRS update (24.61%)
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">May 16, 2024</div>
        <div class="icon-container">
            <img src="assets/icons/computershare-icon.jpg" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">
            Computershare provides answers to questions submitted by GME shareholders
            <a href="https://youtu.be/b60sRawyPqc" target="_blank">Answering recent investor questions on direct
                registration</a>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">May 24, 2024</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            GameStop completes ATM, new shares outstanding reduces DRS to (21.5%)
        </div>
    </li>
</div>