<div class="page-section">
    <div class="section-heading">
        Discovery and journey of DRS by GME shareholders
    </div>
    <p>
        In the aftermath of the <a [routerLink]="'/sneeze'">GME sneeze of January 2021</a>, GME shareholders
        began to search for information to help make sense of what really happened and how the market actually
        works.
    </p>
    <p>
        Through a series of discoveries and conversations, GME shareholders eventually learned
        that DRS was the only way that shareholders could take ownership of their shares away from the DTC and
        give it to themselves.
    </p>
    <li class="timeline-item">
        <div class="timeline-item-date">February 2, 2021</div>
        <div class="icon-container">
            <img src="assets/icons/reddit-icon.png" alt="" class="timeline-item-icon">
        </div>


        <div class="timeline-item-body">
            A post on r/wallstreetbets titled <a
                href="https://www.reddit.com/r/wallstreetbets/comments/lb1b6w/checkmate_wall_street/" target="_blank">
                "Checkmate wall street! 🚀🚀"</a> advocated possibly for the first time for
            GME
            shareholders to directly register their shares with the company's transfer agent. "Move your
            shares
            from your broker to direct registration. This puts the stock in YOUR name and not your brokerage
            (this is the electronic equivalent of a physical stock certificate)."
        </div>
        <br>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">April 29, 2021</div>
        <div class="icon-container">
            <img src="assets/icons/reddit-icon.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">
            r/superstonk conducts an <a href="https://www.youtube.com/watch?v=fGVY2Kco8ng" target="_blank">AMA
                interview with Susanne
                Trimbath</a>, author of the book <a
                href="https://www.goodreads.com/book/show/49089890-naked-short-and-greedy" target="_blank">Naked,
                Short and Greedy</a>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">August 12, 2021 </div>
        <div class="icon-container">
            <img src="assets/icons/fidelity-icon.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">
            Fidelity becomes a significant investor/owner of Reddit, which eventually has consequences for DRS
            and for GME shareholders.
            <a href="https://www.reuters.com/technology/reddit-raise-700-million-over-10-billion-valuation-2021-08-12/"
                target="_blank">Reddit valued at $10 billion in new funding round</a>
            <p>
                "[Reddit] said it had already raised $410 million from Fidelity in its second funding round
                since the start of the year when small-time traders gathered on its platform in their battle
                against Wall Street institutions.
                The traders, initially focused on Reddit's WallStreetBets forum but now spread across discussion
                boards, have changed how Wall Street analysts operate, causing major losses for some funds and
                powering huge gains in the shares of companies including GameStop (GME), and AMC."
            </p>
        </div>
    </li>


    <li class="timeline-item">
        <div class="timeline-item-date">September 2021</div>
        <div class="icon-container">
            <img src="assets/icons/reddit-icon.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">Discussions of DRS continued in places like r/superstonk and by
            September 2021, despite a significant amount of opposition to the idea,
            GME shareholders began
            contacting their brokers and requesting that their shares be moved to DRS</div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">November 4, 2021</div>
        <div class="icon-container">
            <img src="assets/icons/computershare-icon.jpg" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">
            r/superstonk conducts an <a href="https://www.youtube.com/watch?v=LVEJo87jejo" target="_blank">AMA
                interview with Paul Conn,
                President of Global Capital Markets at
                Computershare</a>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">November 29, 2021</div>
        <div class="icon-container">
            <img src="assets/icons/computershare-icon.jpg" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">r/superstonk conducts a second <a
                href="https://www.youtube.com/watch?v=bo427AW0anw" target="_blank">AMA interview with Paul
                Conn</a></div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">December 8, 2021</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            GameStop reported financial results for Q3 2021, reporting
            for the first time the number of shares of GME that were directly registered:
            "as of October 30, 2021, 5.2 million shares of our Class A common stock were directly registered
            with our transfer agent, ComputerShare," representing 6.9% of all issued shares.
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">December 22, 2021</div>
        <div class="icon-container">
            <img src="assets/icons/computershare-icon.jpg" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">
            r/GMEJungle conducts an <a href="https://www.youtube.com/watch?v=zc2_Zmvf8ZU" target="_blank">AMA
                interview with Paul Conn</a>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">January 29, 2022</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            GameStop publishs Q4 2021 earnings and DRS update (11.66% of shares outstanding are DRS)
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">March 18, 2022</div>
        <div class="icon-container">
            <img src="assets/icons/drsgme-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">GME investors from r/superstonk publish the website <a
                href="https://www.drsgme.org/">DRSGME.org</a>. Shortly after, one of the cofounders of the
            website is banned from r/superstonk, and starts a new
            subreddit at r/DRSyourGME</div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">April 30, 2022</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            Q1 2022 DRS update (16.68%)
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">July 30, 2022</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            Q2 2022 DRS update (23.41%)
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">October 26, 2022</div>
        <div class="icon-container">
            <img src="assets/icons/fidelity-icon.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">

            Fidelity, one of the world's largest stock brokers and financial
            services
            companies, with trillions of dollars of assets under management, <a
                href="https://www.reddit.com/r/Superstonk/comments/yedjog/in_case_you_missed_it_fidelitys_meme_stock_guy/?sort=top"
                target="_blank">offers a characterization of DRS'd shareholders of GME</a>, demonstrating
            awareness and contempt
            for
            the movement to DRS GME.

            <img src="assets/meme-stock-guy.jpeg"
                style="max-width: 100%; border-radius: 5px;border: 1px solid rgb(230, 230, 230);"
                alt="meme stock guy from fidelity">
            <p>This image could only possibly refer to registered shareholders of GME. The image says "meme
                stock guy", which reduces the possible stocks to a handful, but GME shareholders are the only
                shareholders that have used the purple circle to represent their position.</p>

        </div>
    </li>
     <li class="timeline-item">
        <div class="timeline-item-date">October 29, 2022</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            Q3 2022 DRS update (23.57%)
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">November 21, 2022</div>
        <div class="icon-container">
            <img src="assets/icons/computershare-icon.jpg" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">r/superstonk conducts a third <a
                href="https://www.youtube.com/watch?v=xFQmiLWiv5Y" target="_blank">AMA interview with Paul
                Conn</a></div>
    </li>

    <li class="timeline-item">
        <div class="timeline-item-date">December 13, 2022</div>
        <div class="icon-container">
            <img src="assets/icons/reddit-icon.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">Heatlamp theory is <a
                href="https://www.reddit.com/r/GME/comments/zl8h75/why_drs_numbers_may_have_come_in_low_the_burger/"
                target="_blank">
                posted for the first time in r/GME</a>, drawing deeper attention to the reported DRS numbers and
            the distinction between shares held in DSPP (aka "Plan") and shares held in DRS (often imprecisely
            referred to as "Book").
        </div>
    </li> 
    <li class="timeline-item">
        <div class="timeline-item-date">March 22, 2023</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            Q4 2022 DRS update (24.94%)<br>
            <span style="color:black;">GameStop modifies the language used in providing registered share
                counts</span><br>
            As of March 22, 2023, there were 197,058 record holders of our Class A Common Stock. Excluding the
            approximately 228.7 million shares of our Class A Common Stock <b>held by Cede & Co</b> on behalf of
            the Depository Trust & Clearing Corporation (or approximately 75% of our outstanding shares),
            approximately 76.0 million shares of our Class A Common Stock were <b>held by record holders</b> as
            of March 22, 2023 (or approximately 25% of our outstanding shares).
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">April 17, 2023</div>
        <div class="icon-container">
            <img src="assets/icons/reddit-icon.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">An update to the heatlamp theory is <a
                href="https://web.archive.org/web/20230418165947/https://www.reddit.com/r/DRSyourGME/comments/12pfm9s/breaking_new_info_a_portion_of_all_your_shares"
                target="_blank">
                posted in r/DRSyourGME
            </a>, again
            drawing attention to the
            distinction between holding in DSPP versus holding in DRS, as well as also
            drawing attention to the peculiarness of GME trading volume spiking on GameStop DRS record dates.


            <img src="assets/drs/drs-dspp.png"
                style="max-width: 100%; border-radius: 5px;border: 1px solid rgb(230, 230, 230);" alt="heat-lamp">
            Some shareholders attempt to post this information in r/superstonk, but for some reason, the mods of that
            subreddit
            evidently felt that this was not a subject of conversation that GME
            shareholders should be allowed to talk about, and deliberately censored all attempts at sharing the post,
            creating a streissand effect for the r/DRSyourGME subreddit, causing the subscriber count of that subreddit
            to explode, more than tripling in size in the following weeks.
            <img src="assets/drs/drsyourgme-subscribers.png"
                style="max-width: 100%; border-radius: 5px;border: 1px solid rgb(230, 230, 230);"
                alt="r-drsyourgme-subscribers">

        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">May 2, 2023</div>
        <div class="icon-container">
            <img src="assets/icons/computershare-icon.jpg" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">Reacting to recent discussions about heatlamp theory, Computershare
            posts <a href="https://youtu.be/9Ii-5tgvZKk" target="_blank">An update on
                Fractional and Plan Shares from Computershare’s Paul Conn </a></div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">June 5, 2023</div>
        <div class="icon-container">
            <img src="assets/icons/drsgme-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">In the week of June 5, 2023, <a
                href="https://www.drsgme.org/the-stockholder-list-summary" target="_blank">some GME
                shareholders
                visited GameStop headquarters in Grapevine, Texas,</a> to view
            the list of stockholders eligible to vote at the annual meeting. Some of this information was
            subsequently shared to the subreddit r/DRSyourGME</div>

    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">June 14, 2023</div>
        <div class="icon-container">
            <img src="assets/icons/reddit-icon.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">Reddit permanently bans the r/DRSyourGME subreddit. The team behind that
            subreddit sets up a new shop with <a href="https://mee6.xyz/i/xyGz2buGJR" target="_blank">a Discord
                server</a> and their own <a href="https://lemmy.whynotdrs.org/" target="_blank">Lemmy
                instance</a>. Some GME shareholders from this community begin to use these alternative platforms as well
            as X (Twitter at the time).

            <img src="assets/DRSyourGME-banned.PNG"
                style="max-width: 100%; border-radius: 5px;border: 1px solid rgb(230, 230, 230);"
                alt="r-drsyourgme-banned">
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">June 1, 2023</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            <span style="color:black;">GameStop modifies language, changing record holders to registered
                holders</span><br>
            <p>As of June 1, 2023, there were approximately 304,751,243 shares of our Class A common stock outstanding.
                Of those outstanding shares, approximately 228.1 million were held by Cede & Co on behalf of the
                Depository Trust & Clearing Corporation (or approximately 75% of our outstanding shares) and
                approximately 76.6 million shares of our Class A common stock were held by <b >registered holders</b> with our
                transfer agent (or approximately 25% of our outstanding shares) as of June 1, 2023.</p>
            Q1 2023 DRS update (24.14%)
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">August 31, 2023</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            Q2 2023 DRS update (24.70%)
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">November 30, 2023</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            Q3 2023 DRS update (24.68%)
        </div>
    </li>



    <li class="timeline-item">
        <div class="timeline-item-date">February 9, 2024</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">
            GameStop rejects proposals submitted by shareholders. Most of these proposals pertained to DRS and
            GameStop's relationship with Computershare.
            <br>
            <a href="https://lemmy.whynotdrs.org/post/900838" target="_blank">Lemmy Discussion</a>
        </div>
    </li>

    <li class="timeline-item">
        <div class="timeline-item-date">March 26, 2024</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            Q4 2023 DRS update (24.61%)
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">May 16, 2024</div>
        <div class="icon-container">
            <img src="assets/icons/computershare-icon.jpg" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">
            Computershare provides answers to questions submitted by GME shareholders
            <a href="https://youtu.be/b60sRawyPqc" target="_blank">Answering recent investor questions on direct
                registration</a>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-item-date">May 24, 2024</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body drs-color">
            GameStop completes ATM, new shares outstanding reduces DRS to (21.5%)
        </div>
    </li>
</div>