<div class="page-section">
    <div class="section-heading">
        Discovery and journey of DRS by GME shareholders (summary timeline)
    </div>
    <p>
        In the aftermath of the <a [routerLink]="'/sneeze'">GME sneeze of January 2021</a>, GME shareholders
        began to search for information to help make sense of what really happened and how the market actually
        works.
    </p>
    <p>
        Through a series of discoveries and conversations, GME shareholders eventually learned
        that DRS was the only way that shareholders could take ownership of their shares away from the DTC and
        give it to themselves.
    </p>


    <li class="timeline-item" style="margin-top: 35px;">
        <div class="timeline-item-date">April 2021 through November 2021</div>
        <div class="icon-container">
            <img src="assets/icons/reddit-icon.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">
            GME investors discuss the concept of DRS. By the end of August 2021, despite a significant amount of
            opposition to the idea,
            GME shareholders began contacting their brokers and requesting that their shares be moved to DRS.
            <p>GME shareholders that had requested their shares be moved to DRS started obtaining access to their
                account with Computershare, and would <a
                    href="https://www.reddit.com/r/Superstonk/comments/q1ae4a/purple_circle_club_this_is_the_way/"
                    target="_blank">post screenshots</a> of their holdings with Computershare, demonstrating their
                successful move to DRS.</p>
        </div>
    </li>


    <li class="timeline-item">
        <div class="timeline-item-date">December 8, 2021</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">
            GameStop reported financial results for Q3 2021, reporting
            for the first time the number of shares of GME that were directly registered:
            "as of October 30, 2021, 5.2 million shares of our Class A common stock were directly registered
            with our transfer agent, ComputerShare," representing 6.9% of all issued shares.

            <p style="color:black;">
                Up until this point, DRS was something that many GME shareholders were still skeptical of. When GameStop
                reported the numbers in their 10-Q filing,
                this was a demonstration to GME shareholders that putting their shares in DRS was a worthwhile
                endeavour, something that the company itself cared about enough to provide data about it.
            </p>
        </div>
    </li>


    <li class="timeline-item">
        <div class="timeline-item-date">March 18, 2022</div>
        <div class="icon-container">
            <img src="assets/icons/drsgme-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">GME investors, originally gathered in r/superstonk, publish the website <a
                href="https://www.drsgme.org/">DRSGME.org</a>.

            <p>Not too long after the website was published, one of the cofounders of the
                website, who was a regular and well-liked member of superstonk, is banned from that subreddit without
                justification by the unaccountable moderators there.</p>
            <p>Subsequently, this individual created the r/DRSyourGME subreddit to continue the conversation surrounding
                DRS and GME.</p>
        </div>
    </li>

    <li class="timeline-item">
        <div class="timeline-item-date">June 5, 2023</div>
        <div class="icon-container">
            <img src="assets/icons/drsgme-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">In the week of June 5, 2023, <a
                href="https://www.drsgme.org/the-stockholder-list-summary" target="_blank">some GME
                shareholders
                visited GameStop headquarters in Grapevine, Texas,</a> to view
            the list of stockholders eligible to vote at the annual meeting.


        </div>
    </li>

    <li class="timeline-item">
        <div class="timeline-item-date">June 14, 2023</div>
        <div class="icon-container">
            <img src="assets/icons/reddit-icon.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">Without justification or accountability, Reddit permanently bans the
            r/DRSyourGME subreddit.

            <p> The team behind that
                subreddit sets up a new shop with <a href="https://mee6.xyz/i/xyGz2buGJR" target="_blank">a Discord
                    server</a> and their own <a href="https://lemmy.whynotdrs.org/" target="_blank">Lemmy
                    instance</a>. Some GME shareholders from this community begin to use these alternative platforms as
                well
                as <a href="https://x.com">X</a>.</p>
            <img src="assets/DRSyourGME-banned.PNG" class="image" alt="r-drsyourgme-banned">
            <img src="assets/drs/drsyourgme-subscribers.png" class="image" alt="r-drsyourgme-subscribers">
        </div>
    </li>


    <li class="timeline-item">
        <div class="timeline-item-date">June 5, 2024</div>
        <div class="icon-container">
            <img src="assets/icons/gs-logo.png" alt="" class="timeline-item-icon">
        </div>
        <div class="timeline-item-body">
            The Grapevine Crew from DRSGME.org visits GameStop headquarters in Grapevine, Texas, to view the <a
                href="https://www.drsgme.org/2024-stockholder-list-viewing" target="_blank">2024 stockholder list</a>
            and obtain data.

            <img src="assets/drs/2024-stockholder-list.PNG" class="image" alt="2024 stockholder list">
        </div>
    </li>

</div>