<div class="page-root">
    <div class="page-content">
        <div class="page-title">
            January 2021 GME Sneeze
            <!-- aka:  Meme Stock Market Event according to House report -->
        </div>
        <div class="page-subtitle">
            Something unprecendented happened.  Wall Street responded drastically.
        </div>


        <!-- Summary -->
        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>In January 2021, the share price of GME was rising exponentially</li>
                <li>According to the 
                    <a href="https://www.sec.gov/files/staff-report-equity-options-market-struction-conditions-early-2021.pdf" target="_blank">
                        SEC Staff Report on Equity and Options Market Structure Conditions in Early 2021
                    </a>,
                    "it was the positive sentiment, not the buying-to-cover, that sustained the weeks-long price appreciation of GameStop stock."
                </li>
                <li>
                    Numerous financial institutions faced existential elimination from the fact that the share price of GME was trading at such high values, causing "several stock trading platforms restricted
                    trading on meme stocks as an emergency risk management tactic"
                </li>
                <li>While the media placed most of the blame on Robinhood, according to the June 2022 <a href="https://democrats-financialservices.house.gov/uploadedfiles/6.22_hfsc_gs.report_hmsmeetbp.irm.nlrf.pdf">Game Stopped report by the U.S. House Committee on Financial Services</a> the institution with the largest excess capital premium charges was Instinet, LLC </li>
            </ul>
        </div>
        <div class="page-section">
            <app-help-contribute></app-help-contribute>
        </div>
    </div>
</div>