.layout-root{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.mobile-container{
    width: 100%;
    max-width: 100vw;
    min-width: 340px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-grid{
    height: 100%;
    width: 100%;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px auto 100px 80px;
}
.app-chart{
    grid-row: 1 / span 3;
    grid-column: 1 / span 1;

    max-height: 100%;
}
.app-timeline-items{
    grid-row: 3 / span 2;
    grid-column: 1 / span 1;
    max-height: 100%;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
}
.app-controls{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.app-sidebar{
  position: fixed;
  right: 0;
  // // top: 10px;
  // border-top-right-radius: 10px;
  // border-bottom-right-radius: 10px;
}
.app-timeline-items-mobile{
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


.list-view-grid{
  height: 100%;
  width: 100%;
  max-width: 100%;
  display:grid;
  grid-template-columns: 1fr 500px;
  grid-template-rows: 80px auto;

}


.list-view-narrow{
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.app-controls-list-view{
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  // height: 100%;
  // display:flex;
  // flex-direction: row;
  // align-items: center;
  // padding-left: 15px;
  padding: 3px;
  // position: fixed;
  display:flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.app-controls-list-view-narrow{
  
  margin-bottom: 5px;
  // height: 50px;
  padding: 3px;
  position: fixed;
}
.app-timeline-items-list-view-narrow{
  margin-top: 60px;
}

.app-chart-list-view{
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  max-width: 100%;
  max-height: 100%;
  // width: 100%;
  height: 100%;
  display:flex;
  flex-direction: row;
  align-items: center;
}
.app-timeline-items-list-view{
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
  max-height: 100%;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
}
