<div class="page-root">
    <div class="page-content">
        <div class="page-title">
            DRS
        </div>
        <div class="page-subtitle">
            Direct Registration System
        </div>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Cede_and_Company" target="_blank">Cede & Co.</a>, a private
                    company and partner of the <a href="https://en.wikipedia.org/wiki/Depository_Trust_Company"
                        target="_blank">DTC</a>, owns the large majority of all issued stocks in the United States

                    <ul>
                        <li>
                            As of 1998, Cede & Co. owned 83% of all issued stocks in the United States. Since 1998, this
                            ownership percentage has not been publicly released again
                        </li>
                        <li>Any time shares of a company are purchased at a stock broker, the legal owner of those
                            shares is
                            Cede & Co.</li>
                        <li>Due to lack of transparency by Cede & Co. and the DTC, the number of share entitlements that
                            exist
                            among stock brokers and other market participants cannot be verified</li>
                    </ul>

                </li>
                <li>DRS is an acronym for Direct Registration System

                    <ul>
                        <li>DRS is the only way to obtain sole legal title ownership of your shares</li>
                        <li>DRS is a mechanism that enables shareholders to remove shares from the DTC's ownership and
                            registers them with the issuing company's transfer agent</li>
                    </ul>
                </li>
                <li>GameStop's transfer agent is Computershare</li>

                <li>GME shareholders are challenging the status quo by directly registering billions of dollars worth of
                    shares, owning approximately 21% of GameStop. No other company in history has had a large portion of
                    their shares owned by directly registered shareholders</li>
            </ul>
        </div>

        <div class="page-section">
            <div class="section-heading">Held by registered holders at Computershare: DRS versus DSPP</div>
            <P>All shares held with GameStop's transfer agent Computershare are considered "registered", but of those
                shares there is a distinction between DRS shares and DSPP shares.

            </P>
            <ul>
                <li>
                    <b>DRS</b>
                    <ul>
                        <li>Registered in the name of the holder</li>
                        <li>Held in book-entry form</li>
                        <li>Held by record holders at Computershare</li>
                        <li>Holding with DRS provides both title ownership and possession of shares</li>
                    </ul>

                </li>
                <li>
                    <b>DSPP</b>
                    <ul>
                        <li>Registered in the name of the holder</li>
                        <li>Held in book-entry form</li>
                        <li>Held by Dingo & Co (a nominee for Computershare)</li>
                        <li>Holding with DSPP provides title ownership but not possession of shares</li>
                    </ul>
                </li>
            </ul>
        </div>

        <app-drs-timeline></app-drs-timeline>


    </div>
</div>