<div class="page-root">
    <div class="page-content">
        <div class="page-title">
            DRS
        </div>
        <div class="page-subtitle">
            Direct Registration System
        </div>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>DRS is an acronym for Direct Registration System</li>
                <li><a href="https://en.wikipedia.org/wiki/Cede_and_Company" target="_blank">Cede & Co.</a>, a private
                    company and parter of the <a href="https://en.wikipedia.org/wiki/Depository_Trust_Company"
                        target="_blank">DTC</a>, owns the large majority of all issued stocks in the United States</li>
                <li>As of 1998, Cede & Co. owned 83% of all issued stocks in the United States. Since 1998, this
                    ownership percentage has not been publicly released again</li>
                <li>Any time shares of a company are purchased at a stock broker, the legal owner of those shares is
                    Cede & Co.</li>
                <li>DRS is a mechanism that enables shareholders to have sole legal title ownership of the shares that
                    they paid for by removing them from the DTC's books and registering them in the books of the issuing
                    company's transfer agent</li>
                <li>GameStop's transfer agent is Computershare</li>
                <li>Due to lack of transparency by Cede & Co. and the DTC, the number of share entitlements that exist
                    among stock brokers and other market participants cannot be verified</li>
                <li>GME shareholders are challenging the status quo by directly registering billions of dollars worth of
                    shares, owning approximately 25% of GameStop</li>
            </ul>
        </div>
        <div class="page-section">
            <div class="section-heading">DRSGME.org</div>
            <p>
                Please visit <a href="https://drsgme.org" target="_blank">DRSGME.org</a> for detailed information about
                DRS and its relationship with GME. This is a website created by the community of GME shareholders that
                advocate for share ownership with DRS.

            </p>
            <div>

            </div>
        </div>



        <div class="page-section">
            <div class="section-heading">
                Discovery of DRS, Timeline of Events
            </div>
            <p>
                In the aftermath of the <a [routerLink]="'/sneeze'">January 2021 GME Short Sneeze</a> GME shareholders
                began to search for information to help make sense of what happened and how the market actually works,
                ultimately leading to the discovery and embracing of DRS.
            </p>
                <li class="timeline-item">asdf</li>
                <li class="timeline-item">
                    <div class="timeline-item-date">February 2, 2021</div>
                    <div class="timeline-item-body">
                        A post on r/wallstreetbets titled <a
                            href="https://www.reddit.com/r/wallstreetbets/comments/lb1b6w/checkmate_wall_street/"
                            target="_blank"> "Checkmate wall street! 🚀🚀"</a> advocated possibly for the first time for
                        GME
                        shareholders to directly register their shares with the company's transfer agent. "Move your
                        shares
                        from your broker to direct registration. This puts the stock in YOUR name and not your brokerage
                        (this is the electronic equivalent of a physical stock certificate)."
                    </div>
                    <br>
                </li>
                <li class="timeline-item">
                    <div class="timeline-item-date">April 29, 2021, </div>
                    <div class="timeline-item-body">
                        r/superstonk conducts an <a href="https://www.youtube.com/watch?v=fGVY2Kco8ng"
                            target="_blank">AMA
                            interview with Susanne
                            Trimbath</a>, author of the book <a
                            href="https://www.goodreads.com/book/show/49089890-naked-short-and-greedy"
                            target="_blank">Naked,
                            Short and Greedy</a>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-item-date">September 2021</div>
                    <div class="timeline-item-body">Discussions of DRS continued in places like r/superstonk and by
                        September 2021,
                        GME shareholders began
                        contacting their brokers and requesting that their shares be moved to DRS</div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-item-date">November 4, 2021</div>
                    <div class="timeline-item-body">
                        r/superstonk conducts an <a href="https://www.youtube.com/watch?v=LVEJo87jejo"
                            target="_blank">AMA
                            interview with Paul Conn,
                            President of Global Capital Markets at
                            Computershare</a>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-item-date">November 29, 2021</div>
                    <div class="timeline-item-body">r/superstonk conducts a second <a
                            href="https://www.youtube.com/watch?v=bo427AW0anw" target="_blank">AMA interview with Paul
                            Conn</a></div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-item-date">December 8, 2021</div>
                    <div class="timeline-item-body">
                        GameStop reported financial results for Q3 2021, reporting
                        for the first time the number of shares of GME that were directly registered: 
                        "as of October 30, 2021, 5.2 million shares of our Class A common stock were directly registered with our transfer agent, ComputerShare," representing 6.9% of all issued shares.
                        shares</div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-item-date">December 22, 2021</div>
                    <div class="timeline-item-body">
                        r/GMEJungle conducts an <a href="https://www.youtube.com/watch?v=zc2_Zmvf8ZU"
                            target="_blank">AMA
                            interview with Paul Conn</a>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-item-date">March 18, 2022</div>
                    <div class="timeline-item-body">GME investors from r/superstonk publish the website <a
                            href="https://www.drsgme.org/">DRSGME.org</a>. Shortly after, one of the cofounders of the
                        website is banned from r/superstonk, and starts a new
                        subreddit at r/DRSyourGME</div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-item-date">October 26, 2022</div>
                    <div class="timeline-item-body">Fidelity, one of the largest stock brokers, <a
                            href="https://www.reddit.com/r/Superstonk/comments/yedjog/in_case_you_missed_it_fidelitys_meme_stock_guy/?sort=top"
                            target="_blank">
                            attempts to disparage DRS'd shareholders of GME
                        </a></div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-item-date">November 21, 2022</div>
                    <div class="timeline-item-body">r/superstonk conducts a third <a
                            href="https://www.youtube.com/watch?v=xFQmiLWiv5Y" target="_blank">AMA interview with Paul
                            Conn</a></div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-item-date">April 17, 2023</div>
                    <div class="timeline-item-body">Heatlamp theory is posted in r/DRSyourGME, drawing attention to the distinction between shares held in a plan at Computershare versus real DRS shares, as well as also drawing attention to the peculiarness of GME trading volume spiking on GameStop DRS record dates.</div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-item-date">May 2, 2023</div>
                    <div class="timeline-item-body">Reacting to recent discussions about heatlamp theory, Computershare posts <a href="https://youtu.be/9Ii-5tgvZKk"
                            target="_blank">An update on
                            Fractional and Plan Shares from Computershare’s Paul Conn </a></div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-item-date">June 5, 2023</div>
                    <div class="timeline-item-body">In the week of June 5, 2023, <a
                            href="https://www.drsgme.org/the-stockholder-list-summary" target="_blank">some GME
                            shareholders
                            visited GameStop headquarters in Grapevine, Texas,</a> to view
                        the list of stockholders eligible to vote at the annual meeting. Some of this information was
                        subsequently shared to the subreddit r/DRSyourGME</div>

                </li>
                <li class="timeline-item">
                    <div class="timeline-item-date">June 14, 2023</div>
                    <div class="timeline-item-body">Reddit permanently bans the r/DRSyourGME subreddit</div>
                </li>

        </div>
    </div>
</div>