


.control-button{
    border-radius: 15px;
    border: 2px solid rgba(128, 128, 128, 0.411);
    background-color: white;
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    min-width: 15px;
    min-height: 15px;
    margin-left: 2px;
    margin-right: 2px;
}
.control-button:hover{
    cursor: pointer;
    border: 2px solid var(--color-special);
}

.selected{
    background-color: rgba(204, 82, 165, 0.425);;
    border: 2px solid var(--color-special);
}
.not-selected{

}

.button-category{

}
.button-category:hover{
    cursor: pointer;
    color: var(--color-special);
}