<div
    style="height:100%;width: 100%; background-color: white;display:flex;flex-direction: row; justify-content: center;">
    <div class="list-container">

        <div class="numbers">
            <div style="margin-top: 30px;"></div>
            <div class="number-row">1</div>
            <div class="number-row">2</div>
            <div class="number-row">3</div>
        </div>

        <div class="list">
            <div class="title">
                <div>Ticker</div>
                <div>Record Holders</div>
            </div>
            <div class="list-item first-item">
                <div>BHF</div>
                <div>1,500,000</div>
            </div>
            <div class="list-item second-item">
                <div>PRU</div>
                <div>1,096,339</div>
            </div>
            <div class="list-item third-item">
                <div>T</div>
                <div>781,511</div>
            </div>
            <div class="list-item">
                <div>VZ</div>
                <div>462,587</div>
            </div>
            <div class="list-item">
                <div>IBM</div>
                <div>388,977</div>
            </div>
            <div class="list-item">
                <div>XOM</div>
                <div>308,630</div>
            </div>
            <div class="list-item">
                <div>CINF</div>
                <div>258,700</div>
            </div>
            <div class="list-item">
                <div>WFC</div>
                <div>231,886</div>
            </div>
            <div class="list-item">
                <div>PFG</div>
                <div>219,911</div>
            </div>
            <div class="list-item">
                <div>WMT</div>
                <div>209,870</div>
            </div>
        </div>
    </div>
    <style>
        .title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 0.8em;
            height:20px;
        }
        .list-container {
            display: flex;
            flex-direction: row;
            margin-top: 10px;
        }
        .numbers {
            flex-shrink: 2;
        }
        .number-row {
            text-align: right;
            margin-right: 4px;
            margin-bottom: 10px;
            height: 36px;
        }
        .list {
            background-color: white;
            display: flex;
            flex-direction: column;
            
        }
        .list-item-container {
            display: flex;
            flex-direction: row;
        }
        .list-item-number {
            width: 10px;
        }
        .list-item {
            min-width: 200px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: rgb(20, 79, 155);
            border-radius: 2px;
            padding: 2px;
            padding-left: 4px;
            padding-right: 4px;
            margin-bottom: 10px;
            border: 1px solid gray;
            font-size: 1.2em;
            color: white;
        }
        .first-item {
            background-color: rgb(236, 190, 8);
            color: black;
        }
        .second-item {
            background-color: rgb(135, 165, 201);
            color: black;
        }
        .third-item {
            background-color: rgb(214, 153, 64);
            color: black;
        }
    </style>
</div>