<div class="page-root">
    <div class="page-title">
        About gmetimeline.org
    </div>

    <div class="page-content">
        <div class="content">
            <div class="page-section">

                <div class="section-heading">Purpose</div>
                <p>
                    This website is an information tool about GME and GameStop.
                </p>
                <p *ngIf="isMobile">This website is best experienced with a full-sized screen.</p>

            </div> 
            <div class="page-section">
                <div class="section-heading">
                    Disclaimers
                </div>
                
                <p>Any apparent bias or narrative found on this website is merely the opinion of the
                    creator of this website.</p>
                <p>The creator of this website holds <a [routerLink]="'/drs'">directly
                        registered</a> shares of GME.</p>
                <p>The creator of this website is not a financial expert, and nothing on this website is financial
                    advice.
                    Always do your own research when assessing potential investments and seek the advice from financial
                    experts where appropriate. </p>
                <p>This website does not collect or store any information from any users.</p>

                <p>This website is not affiliated with GameStop Corp.</p>
            </div>
            <div class="page-section">
                <div class="section-heading">Credits</div>
                <p>This website is the product of a collaboration of numerous GME shareholders.</p>
                <p>This website links to other unaffiliated websites and utilizes information obtained from those
                    websites,
                    for example <a href="https://www.DRSGME.org" target="_blank">DRSGME.org</a> and
                    <a href="https://www.WhyDRS.org" target="_blank">WhyDRS.org</a>.
                </p>
                <p>This website uses some icons from flaticon.com that are free to use with this attribution.</p>



            </div>
        </div>
    </div>


</div>