<div class="about-root">
    <div class="title">
        About gmetimeline.org
    </div>
    <div class="about-section">
        <div class="content">
            <p>
                The purpose of this website is to serve as a map for information about GME / GameStop.
            </p>
            <p>Any perceived bias or editorialization of information found on this website is merely the opinion of the
                creator of this website.</p>
            <p>The creator of this website is not a financial expert, and nothing on this website is financial advice.
                Always do your own research when assessing potential investments and seek the advice from financial
                experts where appropriate. </p>
            <div style="height:1px;width:100%;border-bottom: 1px solid gray; margin-top: 20px;margin-bottom: 20px;">
            </div>
            <p>This website does not collect or store any information from any users.</p>
            <p>This website links to computershared.net for company ownership information but is not affiliated with that website.</p>
            <p>This website is not affiliated with GameStop Corp.</p>
            <div style="height:1px;width:100%;border-bottom: 1px solid gray; margin-top: 20px;margin-bottom: 20px;">
            </div>
            <p>
                For more information about the contents of this website, join the discussion
                <a href="https://lemmy.whynotdrs.org/c/gme_timeline" target="_blank">in the community on Lemmy</a>
            </p>
        </div>
    </div>
</div>