<div style="width: 100%;" >
    <div class="section-heading">
        GME ownership table
    </div>
    <table class="data-table">

        <tr class="top-row">
            <td class="border-bottom">Held by</td>
            <td colspan="2" class="border-bottom">Type</td>
            <td class="border-bottom"> Shares</td>
            <td class="border-bottom">% of issued shares</td>
        </tr>
        <tr>
            <td rowspan="3" class="border-bottom drs-row">
                Held by registered holders with Computershare
            </td>
            <td class="drs-row">DRS</td>
            <td class="drs-row"></td>
            <td class="number-cell drs-row">53.3 M</td>
            <td class="number-cell drs-row">15.2 %</td>
        </tr>
        <tr>
            <td class="dspp-row">
                DSPP
            </td>
            <td class="dspp-row"></td>
            <td class="number-cell dspp-row">22.0 M</td>
            <td class="number-cell dspp-row">6.3 %</td>
        </tr>
        <tr>
            <td class="border-bottom drs-row"></td>
            <td class="border-bottom drs-row" style="font-weight: bold;">Total Registered</td>
            <td class="number-cell border-bottom drs-row" style="font-weight: bold;">75.3 M</td>
            <td class="number-cell border-bottom drs-row" style="font-weight: bold;">21.5 %</td>
        </tr>
        <tr>
            <td rowspan="10" class="border-bottom-2 cede-row">
                Held by Cede & Co on behalf of DTCC
            </td>
            <td rowspan="3" class="border-bottom insiders-row">Insiders</td>
            <td class="insiders-row">Ryan Cohen</td>
            <td class="number-cell insiders-row">36.8 M</td>
            <td class="number-cell insiders-row">10.5 %</td>
        </tr>
        <tr>
            <td class="insiders-row">All others</td>
            <td class="number-cell insiders-row">2.0 M</td>
            <td class="number-cell insiders-row">0.6 %</td>
        </tr>
        <tr>
            <td class="border-bottom total insiders-row">Insiders Total</td>
            <td class="number-cell border-bottom total insiders-row">38.8 M</td>
            <td class="number-cell border-bottom total insiders-row">11.1 %</td>
        </tr>

        <tr>
            <td rowspan="5" class="border-bottom institutions-row">Institutions</td>
            <td class="institutions-row">Vanguard Group Inc</td>
            <td class="number-cell institutions-row">25.4 M</td>
            <td class="number-cell institutions-row">7.2 %</td>
        </tr>
        <tr>
            <td class="institutions-row">Blackrock Inc</td>
            <td class="number-cell institutions-row">22.6 M</td>
            <td class="number-cell institutions-row">6.4 %</td>
        </tr>
        <tr>
            <td class="institutions-row">State Street Corporation</td>
            <td class="number-cell institutions-row">8.3 M</td>
            <td class="number-cell institutions-row">2.4 %</td>
        </tr>
        <tr>
            <td class="institutions-row">All other institutional</td>
            <td class="number-cell institutions-row">32.7 M</td>
            <td class="number-cell institutions-row">9.3 %</td>
        </tr>
        <tr>
            <td class="border-bottom total institutions-row">Institutions Total</td>
            <td class="number-cell border-bottom total institutions-row">89.0 M</td>
            <td class="number-cell border-bottom total institutions-row">25.4 %</td>
        </tr>
        <tr>
            <td class="border-bottom cede-row-2">Remainder</td>
            <td class="border-bottom cede-row-2 total">Remainder total</td>
            <td class="number-cell border-bottom total cede-row-2">147.7 M</td>
            <td class="number-cell border-bottom total cede-row-2">42.0 %</td>
        </tr>
        <tr>
            <td class="border-bottom-2 cede-row"></td>
            <td class="border-bottom-2 cede-row" style="font-weight: bold;">Total Beneficial</td>
            <td class="border-bottom-2 number-cell cede-row" style="font-weight: bold;">275 M</td>
            <td class="border-bottom-2 number-cell cede-row" style="font-weight: bold;">78.3 %</td>
        </tr>
        <tr>
            <td colspan="3" class="total-row">Issued shares total</td>
            <td class="number-cell total-row " style="min-width: 60px;">350.9 M</td>
            <td class="number-cell total-row">100 %</td>
        </tr>
    </table>
</div>