.controls-root{
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.controls-bar-container{
    height: 50px;
    min-width: 300px;
    max-width: 90%;
}
.controls-area{

    border-radius: 25px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgba(255, 255, 255, 0);
    position: relative;
    z-index: 50;
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.controls-area:hover{
    border: 1px solid var(--color-special);
}

.expanded{
    border-radius: 15px;
    padding-bottom: 10px;
}

.control-icon{
    font-size: 1.5em;
    color: gray;
    margin-right: 8px;
}
.control-icon:hover{
    cursor: pointer;
    color: var(--color-special);
}
.settings-open{
    color: var(--color-special);
}
.icon-container{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.icon-container-mobile{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.story-icon-container{
    margin: 3px; margin-right: 8px;
    margin-left: 8px;
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 30px;
    min-width: 30px;
    height: 30px;
}
.story-icon-container:hover{
    cursor: pointer;
}


.story-icon{
    width: 30px;
    height: 30px;
    position:absolute;
    // top:0;
    // left: 5px;
    z-index: -5;
}
.story-icon-bnw{
    width: 30px;
    height: 30px;
    position:absolute;
    // top:0;
    // left: 5px;
    z-index: -5;
}
.active-story{
    z-index: 5;
}
.inactive-story{
    z-index: 5;
}

.controls-expanded{
    margin-top: 10px;
    // width: 280px;
    display:flex;
    flex-direction: column;
    width: 100%;
}

.control{
    margin: 2px;
    background-color: rgb(241, 241, 241);
    border-radius:  5px;
    padding: 5px;
}

.close-button-bar{
    background-color: rgb(247, 247, 247);
    display:flex;
    flex-direction: row-reverse; 
    height: 30px; 
    align-items: center;
}
.close-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px;
    width: 25px;
    height: 25px;
}
.close-button:hover{
    background-color: rgba(128, 128, 128, 0.144);
    cursor: pointer;
}



.search-bar{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.search-input{
    border: none;
    background-color: rgb(245, 245, 245);
    font-size: 1.5em;
    min-width: 200px;
    max-width: 200px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.search-input-mobile{
    border: none;
    background-color: rgb(245, 245, 245);
    font-size: 1.5em;
    max-width: 200px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    margin: 5px;
}

.mobile-timeline-controls{
    background-color: white;   
    border-bottom: 1px solid rgba(128, 128, 128, 0.329);;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    position: fixed;
    top: 40px;
    left: 0px;
}


.controls-expanded-mobile{
    margin-top: 10px;
    // width: 280px;
    display:flex;
    flex-direction: column;
    width: 100%;
}