<div class="seo-root">

    <h4>SEO</h4>
    <p>
        This section is here to help people find this website. Don't bother reading this. Or, read it if you want to.
        This is a website about GameStop. The stock ticker for GameStop is GME. This is a website that provides a
        timeline and other information about GME and GameStop. GameStop is a brick and mortar video game retail store
        that sells, among other things, games and accessories for PlayStation, Xbox, Nintendo, and PC. GameStop also
        sells collectibles like Funko Pops. The company was originally started as Babbage's, a software retailer in
        Dallas, Texas. "GameStop" was a brand owned by Babbage's. GameStop became an independent company in 2004.
        GameStop is headquartered in Grapevine, Texas. You can read all about these details on Wikipedia. GameStop had
        profitable years from 2013 through 2017. From fiscal years 2018 through 2022, GameStop has posted a net loss in
        each of those years. Mainstream media creates and propagates perceptions and stories for the benefit of the
        owners of the media. Some media channels, like CNBC, are primarily owned and influenced by Wall St incumbents. A
        channel such as CNBC exists to advance the interests of Wall St financial incumbents. Those incumbents are
        interested in gaining more money for themselves, at the expense of other participants, such as regular household
        investors. CNBC and other media channels propagate stories to help financial incumbents extract money from the
        audience of the propaganda. Jim Cramer is a prominent persona on CNBC that regularly suggests to buy certain
        stocks, and sell other stocks, despite that Jim Cramer is not a financial advisor. Financial incumbents with
        influence into CNBC provide the narratives that they need to be propagated into the consciousness of the
        investing world. Jim Cramer and other CNBC personalities receive their instructions and go in front of the
        camera and say the right combination of things that the financial incumbents want them to say. They are positive
        about some stocks, and they are negative about other stocks. Some number of years ago, some financial incumbents
        decided that GameStop was a company with no future. These financial incumbents use all the tools in their
        toolbox to achieve their financial objectives. If a financial incumbent opens a net short position on GameStop
        (GME), they have a vested interest in the demise of the company. Sometimes financial incumbents may behave as a
        group of predators and hunt for opportunities by preying on vulnerable companies. GameStop was a vulnerable
        company in the years 2018, 2019, and 2020. Some financial incumbents believed they could make profits by betting
        against the share price of GME. As the share price of GME goes down, the net short position of those incumbents
        goes up in value. The best outcome for those incumbents, therefore, would be for the share price of GME to reach
        zero. There is a short selling strategy that exists that is called Cellar Boxing. Cellar Boxing is a strategy
        where certain financial incumbents, which could involve the participation of hedge funds and/or market makers
        and/or others, attempt to profit from the total demise of a company. The cellar boxing strategy may necessarily
        involve the use of naked short selling. Naked short selling is an act of fraud, but financial incumbents do it
        regardless because they don't get caught. The agencies responsible for preventing naked short selling and
        enforcing the rules do not prevent this from happening. Cellar boxing is a grand strategy to extract maximum
        value from the failure of the target victim company. GameStop was a vulnerable and struggling company that has
        been under attack by incumbents using the cellar boxing strategy. Those incumbents have a vested financial
        interest in the demise of the company, they want to see the trading price of GME go down. Those incumbents use
        their influence in the media to sell mainstream perceptions about GameStop. The mainstream media, deeply
        influenced by financial incumbents, is not kind or fair when it reports about GameStop, because the media is
        trying to sell a perception to the world that GameStop is a loser. When people invest in GME, this goes against
        the interest of those powerful wealthy incumbents that have already placed a very large bet on the failure of
        GameStop via their net short position. Some incumbents may have opened such a large bet against GameStop that if
        GameStop were to turn around and succeed as a company, their liability of their bet would be more than their
        ability to pay for it. In other words, the success of GameStop represents an existential threat to some
        financial incumbents. They need GameStop to fail. They need the price of GME to reach zero. They are stuck in
        this position, and the only way they survive is if GameStop fails. The mainstream media regularly attacks
        GameStop. The mainstream media is financial propaganda. These media channels exist to serve the interest of the
        owners, and some of those owners really need GME to go down, all the way to zero. The media assists in this task
        by selling the perception that GameStop is a hopeless company that will never succeed. An unassuming consumer of
        this media may arrive at the conclusion that it is not a good idea to invest money into GME stock. It benefits
        those financial incumbents with a net short position on GME when the general sentiment about GME that most
        people have is negative. When the general sentiment about GME is negative then shareholders may be inclined to
        sell their GME, and any prospective investors will likely not invest in GME. In 2020, the Covid-19 pandemic
        started, and this had many different impacts throughout society and the economy. The pandemic caused a reduction
        in foot traffic to brick and mortar stores and an explosion of growth in e-commerce and online shopping. This
        was not good for GameStop, which was a brick and mortar retail store that required people to physically go to
        the store and shop there in person. GameStop had a significant reduction in revenue for the fiscal year 2020,
        things were looking very dire for the company. Those financial incumbents that had bet against GME were very
        happy with this turn of events. They placed a big bet against the company that necessarily required the stock
        price of GME to go down to zero, and GameStop was now in the most vulnerable position of its history. The
        company was losing revenue, it was burning through cash, it had debts to pay, at this rate the company would not
        survive for much longer. This is where the story takes a dramatic and unexpected turn. A curious and savvy
        investor that went by the name of Roaring Kitty (also known as DFV, also known as DeepFuckingValue, also known
        as Keith Gill) was hunting for investment opportunities and decided that GameStop was such an opportunity. The
        perspective was that video games are an enormous and growing industry (the video game industry is larger than
        books, movies, and music combined), and GameStop is a well known brand that could re-invent itself and take
        advantage of this huge and growing industry. From this perspective, shares of GME were an undervalued
        opportunity, despite the prevailing narratives that touted GameStop is a failing company doomed for failure.
        From the enthusiasm and investigation of Roaring Kitty, other household investors became aware of this
        perspective and agreed that it was an undervalued opportunity. Thousands of individual investors began buying
        shares of GME. In that same year, another savvy investor named Ryan Cohen, aka RC, also saw GME as an
        undervalued opportunity. Ryan Cohen is an activist investor that became a billionaire when he sold his company
        Chewy. In 2020, Ryan Cohen made a significant investment into GameStop, ultimately purchasing millions of shares
        and becoming a 12 percent owner of the company, valued at over $100 million. The buying from Ryan Cohen, and the
        buying from enthusiastic household investors that agreed with Roaring Kitty, caused a tremendous upward trend of
        the share price of GME. The price of GME reached an all time low in 2020, but by the end of 2020, was up
        significantly, despite the Covid-19 pandemic, and despite the endless barrage of negative sentiment being
        propagated by mainstream financial media that continues to try and convince investors to sell GME and to not buy
        GME. A phrase that mainstream media loves to use is "Forget GameStop." Why would mainstream media want us to
        forget GameStop? Who would benefit if the world forgot about GameStop? The financial incumbents that opened a
        large net short position against GME would benefit. They would benefit because they need the share price of GME
        to go down to zero, but when people like Ryan Cohen and hundreds of thousands of individuals are buying GME, the
        share price goes up. In 2021, the momentum from 2020 carried forward and caused an explosion in the share price
        of GME. This was an unprecedented phenomenon, nothing like this had ever happened before. It was very dramatic.
        They made a movie about it, called Dumb Money, directed by Craig Gillespie, written by Ben Mezrich. In this
        movie, Paul Dano plays the role of Keith Gill, Seth Rogan plays the role of Gabe Plotkin, the manager of Melvin
        Capital. Nick Offerman plays the role of Ken Griffin, the boss of Citadel LLC and Citadel Securities. There are
        other actors in this movie such as Pete Davidson, Vincent D'Onofrio, and America Ferrera. What happened in
        January 2021 pertaining to GME is often referred to as a short squeeze. A short squeeze is an event when
        financial incumbents with a short position react to a rising price of the security and decide to close their
        short position from fear of the rising price. As the price rises, the short position loses value. If the price
        keeps rising, the short position could be such a great liability that it would exceed all of the value of the
        entire financial institution that is holding the short position. In a short squeeze, some number of participants
        are reacting to the circumstances and the share price rises exceptionally high as shorts close their position.
        This is not what happened in January 2021. January 2021 was not a short squeeze because shorts did not close
        their position. Later in 2021, the SEC released a staff report which provided some insight into the events of
        January 2021. The SEC staff report said "Whether driven by a desire to squeeze short sellers and thus to profit
        from the resultant rise in price, or by belief in the fundamentals of GameStop, it was the positive sentiment,
        not the buying-to-cover, that sustained the weeks-long price appreciation of GameStop stock." "Short sneeze", or
        "the sneeze", is a more appropriate term for the events of January 2021. It was not a short squeeze. It was an
        event caused by the momentum of relentless enthusiastic buying of GME by household investors. The dramatic rise
        in price was not caused by shorts closing their positions, it was caused by enthusiastic buying of GME by
        household investors, also called retail investors. Shorts never closed, but CNBC did run advertisements stating
        as such. Why on earth would a media company run a paid promotion to try and spread the sentiment that a specific
        financial incumbent (Melvin) had closed their short position? If it was true, if Melvin closed their short
        position, this wouldn't be something that Melvin would need the world to know about. They would have just done
        it and moved on. In stead, they closed their short position and then paid CNBC to advertise as such? No. This is
        incomprehensible. Melvin did not close their short position, but did pay CNBC to advertise that they did. Melvin
        wanted the world to believe that they had closed their short position when in reality they didn't. Why did
        Melvin Capital need people to believe that they had closed their short position? Short hedge funds, also
        referred to as shorts, never closed their GME short position, and they never had an intention of doing so. By
        nature of the cellar boxing strategy, their objective is to never close their short. In the cellar boxing
        strategy, the short position is opened based on the premise that the stock necessarily will go to zero. It was
        decided that it would go to zero, and the outcome of the bet depended on this. To close the short position would
        be to admit defeat and to lose money. For some parties, the amount of money they would lose would exceed the
        amount of money that they had available to pay it. The rising price of GME was an existential threat. Despite
        claiming that their short position was covered, Melvin Capital shut down a year later in 2022. Why did Melvin
        Capital shut down? Why was Melvin Capital the recipient of cash from Ken Griffin as well as Steve Cohen?
        Something unprecedented happened here. Brokerages and clearing houses and other financial incumbents colluded to
        prevent any further buying of shares of GME as well as other stocks. Why did other stocks also rise in tandem
        with GME? What is the relationship there? Some people referred to these other stocks as "basket stocks." They
        are called this because these stocks are all viewed as being in the same "basket." The media does not refer to
        these stocks as basket stocks, the media prefers to use the term meme stocks. Meme-stock. What is a meme stock?
        The word "meme" invokes a sense of "unserious." The mainstream media, which is a propaganda machine that speaks
        for the interests of Wall St financial incumbents, wants the world to have a perception that meme stocks are
        unserious stocks. Serious investors do not buy meme stocks. Even the SEC, Securities and Exchange Commission,
        created a video disparaging meme stocks. Most of the time when the term meme stock is used, it is referring to
        GameStop. The media can use the term meme stock to attack any stocks that might fit that definition, and
        everyone implicitly understands that GameStop is the primary stock referred to by this term. Meme stocks, basket
        stocks, 2 different terms for the same set of stocks, stocks that have been victimized by predatory naked short
        selling, a criminal act of fraud. While it is suspected that a large amount of criminal fraud has been
        perpetrated, the mainstream media does everything they can to downplay this and to portray the people that
        believe this as delusional. Why is it so hard to believe that criminal fraud has been perpetrated against GME?
        Crime and fraud are things that exists all throughout the world in every country, in every industry, in every
        group of people, throughout the entirety of human history. Crime and fraud are ubiquitous behaviors of people.
        But, when it comes to GameStop, the propaganda would have you believe that the idea that crime and fraud have
        been perpetrated against GME is simply inconceivable. Bernie Madoff was a once highly respected individual of
        Wall St, a financial titan. It wasn't until many decades after he started that it was discovered that Bernie
        Madoff was a fraud. Bernie Madoff was a career fraudster. A professional criminal. Bernie Madoff's real
        profession wasn't financial management, it was deception. Bernie Madoff committed the largest act of criminal
        fraud in history, to the tune of over $60 billion. He got away with it for decades because of the incompetence
        of the SEC and the lack of accountability by self-regulating organizations (SROs) in the financial industry. So
        why do some narratives try to hard to downplay the possibility that someone involved is guilty of committing
        criminal acts of fraud pertaining to GME? It wasn't just GME that was being aggressively shorted by predatory
        profiteering hedge funds. Other stocks such as BBBY, AMC, KOSS, and more were all changed to PCO, which meant
        Position Close Only. There would be no more buying of GME or other basked stocks, all of which are the victim of
        egregious naked short selling, until the incumbents had enough time to reposition themselves and kill the
        momentum. This event was equivalent of somebody losing a game of chess or some other board game, and rather than
        accepting defeat, flipping the whole table so that nobody could keep playing. At least until they bought
        themselves enough time that they could regain control of the momentum. Robinhood, led by Vlad Tenev, is often
        pointed to as the single and only culprit in this situation. But this is very very far from the truth. The
        entire system was at risk. Thomas Petterfy of IBKR famously remarked that the entire system came close to
        collapse. Ask yourself: what kind of system do we have if it risks collapsing entirely when the share price of a
        small company rises dramatically? This is a complex question that can only be answered by factoring short
        selling and naked short selling into the equation. It was not just Robinhood that was a culpable party in this
        collusion to prevent further buying of GME. An often missed name is Instinet. Instinet is a financial services
        company owned by Nomura. Instinet had the largest margin requirement waived, $50 billion of the $67 billion
        margin requirement was waived Mainstream media never mentions this enormous detail regarding instinet.
        Mainstream media in stead focuses mostly on Robinhood and other parts of the story that do not provide the full
        true picture. In 2021, the Financial Stability Oversight Council released their annual report which said "In its
        quarterly Principles for Financial Market Infrastructures (PFMI) disclosure, NSCC attributed the backtesting
        deficiency mainly to a single security exhibiting idiosyncratic risk. During the week of January 25, 2021, NSCC
        observed unusually high volumes and volatility in GameStop Corp. and other securities that had been popularized
        on internet message boards. Activity in these “meme stocks” was concentrated in certain clearing members
        primarily serving retail investors." When the buy button was shut off, the proverbial flipping of the table, GME
        shareholders were robbed of their victory they earned by playing the game as it was designed. The stock market
        was never intended to allow retail investors to ever win. The stock market is a machine that exists to extract
        wealth from the many and put it into the possession of the few. Much of the buying by retail investors was
        motivated by positive sentiment among such investors on social media websites. Roaring Kitty initially began
        sharing information by creating videos on YouTube, but this movement picked up a large amount of momentum when
        it was noticed by the community on reddit.com/r/wallstreetbets. Wall Street Bets, aka WSB, is a large investing
        subreddit that glorifies gambling. It is known that the main moderator of WSB, opinion_is_unpopular, is an
        employee of Citadel. Soon after January 2021 it became apparent that WSB was not a good home for GME investors,
        so new subreddits were used for this purpose. The most prominent subreddit emerged was superstonk,
        reddit.com/r/superstonk. By 2022, discussion of GME, GameStop, and Ryan Cohen were banned from Wallstreetbets.
        Why? Who benefits? For at least a year and a half, superstonk was a great place where GME investors would share
        important information and get a better understanding of what was really going on with this peculiar stock. In
        2021, GME investors from superstonk discovered something called DRS. DRS is the Direct Registration System. DRS
        was discovered after conversations with Dr. Susanne Trimbath, author of the book Naked Short and Greedy, Wall
        Street's Failure to Deliver. This book talks about the problems of stock lending, short selling, naked short
        selling, failures to deliver (FTDs). Unfortunately for GME investors that were using Reddit, Fidelity, a major
        financial services company with certain financial interests, led a funding round in to reddit and became an
        investor owner of Reddit in the second half of 2021. This enabled Fidelity and other participants in the funding
        to have influence into Reddit, which was the primary online location for GME investors, the investors of the
        company that represented an idiosyncratic risk to the market. Eventually by 2022 it started becoming apparent
        that the moderators that controlled the superstonk subreddit had corrupt intent. Their actions of censorship and
        narrative control did not match their stated intentions of fostering a good community. Superstonk moderators
        blamed all changes to the subreddit rules, which were becoming increasingly restrictive, on Reddit
        administrators. While Reddit Inc was in fact under the influence of Fidelity and other Wall Street participants,
        the superstonk mods are complicit in much more than just reluctantly abiding by unfair restrictions demanded by
        Reddit administrators. The subreddit r/DRSyourGME was banned by Reddit for no good reason. That community was
        falsely accused (by superstonk mods) of breaking a federal law. This was never substantiated, and it couldn't be
        proven, because no law was ever broken. What actually happened? Some GME shareholders travelled to the
        headquarters in Grapevine Texas and viewed the stockholder list. This is something that GameStop sanctioned and
        accommodated. You can read all about it on the DRSGME.org website, the stockholder list page. After viewing the
        stockholder list, those individuals shared some of their findings with their community in the r/DRSyourGME
        subreddit. Superstonk moderators accused these individuals of doxxing other individuals. No doxxing ever
        happened. This doesn't matter. All Reddit needed was an accusation, and that was enough justification for them
        to permanently eliminate the subreddit. When this happened, individuals from that subreddit started a new
        community in the fediverse with Lemmy. Lemmy is an appropriate replacement for reddit, and puts the power of the
        message board into the hands of the community that is using it and not some corrupt centralized authority acting
        in the interest of parties that have a vested interest in the demise of GameStop. As a demonstration of the
        corruption of Superstonk mods, among many other things that are strictly censored, the word Lemmy is forbidden
        there. You shall not utter the word Lemmy in the superstonk subreddit, or you will face an immediate permaban.
        Now, what possibly could be the good-faith reason to censor the word "Lemmy" and ban anyone from using it? What
        possible honest fair reason could exist for this behavior? No such reason exists. Superstonk mods have
        repeatedly demonstrated, in numerous instances, that their true intent is to try and control the narrative.
        Those mods are wilfully ignorant of certain important conversations, and downright hostile towards other valid
        discussions. Superstonk mods banned many original investors that would not respect their authority. They abused
        the small amount of power granted to them and demonstrate that if you want to participate in their subreddit
        that they believe and act as if belongs to them and not the community, that you must bend the knee to them. They
        act as the information authority, and if you have information that contradicts what they want you to believe,
        they will censor it and ban you. Also it is known that at least 1 moderator of Superstonk is a former employee
        of Fidelity. Reddit banned numerous valid subreddits, such as r/DRSyourGME, while allowing the purely
        hate-driven subreddit of gme_meltdown to continue to exist. Reddit is apparently okay with a subreddit that is
        devoted to spreading hate and lies and misinformation about GameStop and GME investors, while at the same time
        Reddit is not okay with a subreddit devoted to discovering new information about DRS. Who benefits when Reddit
        users are not allowed to have a subreddit devoted to learning about DRS, but are allowed to participate in a
        subreddit devoted purely to lies and hatred? Fidelity and other Wall St incumbents that have influence into
        Reddit benefit from this situation. DRS takes shares out of brokerage accounts and puts them with the transfer
        agent. Brokerages do not like this because they are able to use share entitlements in accounts in their control
        to make additional profit, through stock lending. They use your stocks (entitlements, not real stocks) that you
        paid for to make additional profits at the expense of your very shares. Those shares get lent out, and then sold
        short by short sellers. This lowers the price of the stock, thus devaluing the investment that the customer paid
        for. When the shares are removed from the brokerage account, the broker, e.g. Fidelity, is no longer able to
        extract additional value out of those shares. Fidelity and other brokers directly benefit financially when
        shareholders do not DRS their shares but rather leave their shares in street name with the broker. Brokers have
        a direct financial interest in preventing shareholders from DRSing their shares. GME investors started directly
        registering their shares in their own name. DRS is the only way an investor can have sole legal title ownership
        of the shares that they paid for. Other forms of holding shares do not provide this ownership, for example if
        you hold shares in a brokerage account, such as with Fidelity. Computershare is the transfer agent of GameStop.
        The transfer agent manages the register of share ownership of the issuing company. GameStop is the issuer and
        Computershare is the transfer agent. Computershare allows shares to be held in DSPP or in DRS. DSPP is
        DirectStock Purchase Plan, aka "Plan". This plan is a service offered by Computershare that generates money for
        them. Shares held in DSPP are not in DRS, shares can only be one or the other. If a shareholder has an account
        with Computershare and that account has DSPP enabled, then those shares in that account are not DRS shares. This
        is an important distinction that gets deliberately censored and confused by superstonk mods. For some reason,
        the mods of superstonk do not want GME investors to understand that DSPP, aka Plan, is not DRS. Superstonk mods
        regularly encourage GME investors to enable DSPP. When DSPP is enabled, the shares in that account are no longer
        in DRS, and therefore do not receive the benefits of DRS. Computershare becomes the main beneficiary when the
        shares are held in DSPP as DSPP is a for-profit service offered by Computershare. When presented with
        information the shows that Plan is not DRS, Superstonk mods get angry. They accuse those people of sharing these
        findings of acting in bad faith, of spreading misinformation, of having ill intent. Superstonk mods are against
        the idea even though their own argument is plainly demonstrably wrong. Superstonk mods cannot substantiate the
        view that they try hard to propagate, and are irritated by the existence of an alternative community that
        continues to research DRS without their approval. Superstonk mods cannot disprove the truth that is being
        discovered by the DRSGME.org community, and they continue to struggle to successfully censor it completely, so
        they become more hostile. Superstonk mods go out of their way to deliberately drive a wall between their
        subreddit and any other community. When this doesn't work to their preference, they get angry and start accusing
        others of having ill-intent and of being bad people. They perpetuate this tribalistic division on a false and
        unsubstantiated premise that the DRSGME.org community is guilty of bad-faith actions and even breaking a federal
        law by viewing the stockholder list, something that GameStop themselves accommodated Superstonk mods necessarily
        need to make an enemy out of their "opposition" because that is the only way that they can stay in control of
        the narrative. They need to make an enemy out of the grassroots DRSGME.org community in order to discredit that
        community, so that they can continue to encourage people to take their shares out of DRS and put them into DSPP.
        Superstonk mods perpetuate this division that those other people are bad people that did bad things, don't
        listen to them. They are discredited because we, the almighty unaccountable unelected moderators of the biggest
        online community of GME investors, said so. Don't go to other communities. Don't talk about Lemmy. We'll ban you
        if you say Lemmy. You can say Reddit, YouTube, Facebook, TikTok, Snapchat, Instagram, X, Twitter, Discord, but
        not Lemmy. There is only 1 GME community on Lemmy and it is the one hosted by the DRSGME.org team. Don't talk
        about other communities. The only place that matters is superstonk. Stay here and listen to what we have to say,
        because we know better. How do we know better? Because we said so. We will ban you if you fight us on this. What
        was eventually discovered by curious and persistent GME investors, outside of the confines of superstonk, is
        that shareholders must terminate DSPP in order to have DRS shares. Plan is not DRS. DRS shares are shares that
        are directly registered with the transfer agent that are not in a plan. Computershare holds shares in a
        subsidiary called Dingo and Co for reasons of operational efficiency. Computershare needs some way to transact
        shares between DRS and the market. Shares not held by the transfer agent are all held by the DTC. The DTC is the
        Depository Trust Company. The DTC is a subsidiary of the DTCC. The DTCC is Depository Trust & Clearing
        Corporation. Cede and Company, aka Cede & Co, is a specialist financial institution that processes transfers of
        stock certificates on behalf of the DTC. Cede and co is the legal owner of the vast majority of all publicly
        issued stock in the United States, to the tune of over 90% of all ownership. When you buy shares of a company,
        such as GME, from a broker, such as Fidelity, you just handed over real money and in exchange received ownership
        of a share entitlement. Share entitlements are not shares. You are the beneficial owner, the shares are held in
        street name. You are not the legal title holder of those shares. Cede & Co is. This is a seriously problematic
        situation. The DTC is a black box of opaqueness. The general investing public does not know what information the
        DTC privately has access to. When Bernie Madoff was still roaming free, role playing as a successful financial
        businessman who wasn't a fraudulent criminal, he gave his DTC account information to the SEC and told them that
        all of the information could be found there. The SEC never looked. Had the SEC looked, they would have found
        that the DTC was in possession of sensitive private information which would have revealed to the SEC that Bernie
        Madoff was guilty of criminal acts of fraud. The DTC possessed information that would have demonstrated this,
        but they never revealed the information. The DTC enabled Bernie Madoff's fraud to go on because the DTC did not
        care. What other frauds does the DTC have information and knowledge of, but no intention of revealing publicly?
        The DTC is hiding information that would reveal everything. Since they are a self-regulating organization, they
        do not provide such information to the public, and in stead the DTC is deliberately as opaque as possible. The
        criminal perpetrators of fraud are DTC members and it is up to the DTC to ensure those members are following the
        rules. When GameStop investors discovered DRS, those investors began instructing their broker-dealers to send
        the share entitlements that they paid for to Computershare, GameStop's transfer agent. By putting the shares in
        DRS, these investors became the true legal title holders of those shares. This is another thing about GameStop
        that is unprecedented in financial history. 25% of all shares of GME have been moved out of brokers and out of
        the DTC's possession, and directly registered with the transfer agent. No other company in history has ever had
        this degree of ownership held by directly registered shareholders. This is a DRS revolution. In June 2021, Ryan
        Cohen and his allies assumed full control over the company, replacing the former board of directors entirely.
        The board was now composed of 6 members, with Ryan Cohen being chairman of the board. Matt Furlong became the
        CEO in 2021. The other board members are Larry Cheng, Alan Attal, Jim Grube, and Yang Xu. Under Ryan Cohen's
        leadership, the company has been undergoing a transformation. Ryan Cohen explains that this is a company that
        suffered from decades of neglect and under-investment throughout the entire company. The people, the technology
        stack, the procedures, everything needed to be modernized. GameStop made some attempts into web3 and
        cryptocurrency, but thus far such attempts have not been fruitful, and the mainstream media and all of those
        parties that oppose the success of GameStop have gleefully celebrated the fact that GameStop struggles with
        various endeavors.. GameStop made a layer 2 self-custodial ethereum wallet that they later discontinued.
        GameStop made an NFT marketplace. GameStop partnered with Loopring and Immutable X, and other companies.
        GameStop was briefly partnered with FTX. This relationship only lasted about 2 months, then FTX collapsed.
        Another case of egregious fraud, this time perpetrated by a man known as Sam Bankman-Fried, aka SBF. GameStop
        eventually announced the wind-down of the wallet and the marketplace. In 2023, Matt Furlong was removed as the
        CEO. Ryan Cohen became the Executive Chairman. Then Ryan Cohen became the CEO, and is currently the CEO and
        chairman, and largest individual shareholder of the company. Ryan Cohen as CEO was recently authorized by the
        board of directors to assume full discretionary control over GameStop's more than $1 billion warchest. GameStop
        has no debt*. Okay, GameStop has virtually no debt. GameStop has a small, low interest loan with the French
        government. It's only a few million dollars. GameStop has over a billion in cash and equivalents. GameStop
        aspires to achieve full year profitability for FY23. If this happens it will be the first time GameStop has
        posted full-year profits since 2017. This will be a remarkable demonstration that the company, under the new
        leadership team, can and will succeed, and that the prevailing sentiment, the sentiment that GameStop has no
        future and no hope for success, the sentiment propagated by mainstream financial media (aka propaganda), is
        wrong. Mainstream financial media is, apparently, supposed to be an industry where journalists report on what is
        happening. If they get this one so wrong, you have to ask yourself, why did they get it so wrong? These people
        are supposed to be the experts that know what is going on. The truth of course is that mainstream financial
        media does not report the truth. These are for-profit institutions that exist to advance the interest of the
        owners of those institutions. Those owners don't want the world to know the truth. On the contrary, they want
        the opposite. They want the world to not know the truth, because the truth is so against their view, that they
        have to create a new truth in order to develop a fiction. This is something that Jim Cramer has plainly
        admitted, verbatim, in a state of questionable sobriety. They wanted us to forget GameStop, they wanted the
        price of GME to go to zero, they wanted the company to enter bankruptcy and for the price of GME to go to zero,
        and for GME to be delisted from the stock market, so that short sellers using the cellar boxing playbook could
        achieve the ultimate goal of profiting enormously and never closing their short position, eternally leaving it
        as a paper gain on their books. The reason why GameStop has such a passionate group of investors, like no other
        company in history, is because GME investors see GME as an incredible opportunity, GME investors are taking the
        opposite bet of short sellers. GME investors see that short sellers placed too big of a bet on the outcome of
        the demise of the company, and that if GameStop were to succeed, investors would receive gains at the expense of
        those shorts that bet against the company. Those media companies in control of the narrative want the world to
        believe that the GameStop story is over. Forget GameStop. GameStop had a short squeeze already. It was a real
        short squeeze, believe us. A short squeeze is when shorts close their position, and by calling this event a
        short squeeze that did happen but is over now, it means that shorts closed. It's over. Forget GameStop. We know
        things and we know GameStop is a loser. Don't forget to forget GameStop! GME investors don't believe these
        narratives and the lies that they are based off. The truth is that shorts never closed. Shorts never intended on
        closing. From the moment the short position was opened, within the cellar boxing playbook, it became an
        all-or-nothing bet against GameStop, necessarily requiring the demise and eventual bankruptcy of the company. By
        not closing their short position, those short positions remain an open liability to those short hedge funds. The
        liability is so incredible that they face existential elimination, and therefore those incumbents are extremely
        motivated by the desire simply to survive. The only way they survive is if GameStop goes out of business. GME
        investors know that January 2021 was not a short squeeze, it was merely a sneeze. It was a hiccup that concluded
        with the financial incumbents flipping the table and pausing the game until they were in a more favorable
        situation to try and regain control of the stock. Because, they simply could not tolerate much more increase in
        the share price of GME, it would have necessarily spelled the end of all of them. What was just described is a
        phenomenon called MOASS. MOASS is an acronym for Mother of All Short Squeezes. There have been a few "short
        squeezes" in history, and GameStop in January of 2021 was not one of them. Perhaps one of the most famous short
        squeezes was the one that happened to Volkswagen stock in 2008. This squeeze also coincided with other market
        phenomenon, e.g. the 2008 financial crisis. What is the relationship there? Unfortunately, the lack of
        transparency means that most household investors will never be able to see which financial incumbents are really
        doing what. There will be a MOASS on GME, and it will be unlike anything the world has ever seen, this is a
        practical inevitability. When the win conditions of those short hedge funds necessarily needs the company
        GameStop to fail and go bankrupt, and when that doesn't happen, then those short hedge funds lose. The first
        hedge fund to close their shorts survives, but by closing their position it would initiate MOASS. The other
        short hedge funds will all perish. It is therefore a kind of suicide pact between all of them. If there are
        multiple parties liable to lose their entire existence, but one of those parties decided out of self-interest to
        cut and run and quit the game first and survive, thus causing the demise of all those other participants, that
        first hedge fund would suddenly find that it is now the enemy of all those other participants that have lost
        everything. It would be natural to expect some form of revenge. And it is perhaps this dynamic that is
        preventing that first short hedge fund from cutting and running. They are all trapped in this situation
        together. Melvin Capital never closed their GME shorts. Melvin Capital was bailed out by Ken Griffin and Steve
        Cohen, those bailouts bought enough time for Melvin to safely reposition their toxic GME shorts and pay back
        those that bailed them out, and wind down the company, without igniting MOASS. But Melvin Capital did shut down.
        Why did Melvin Capital shut down if they closed their GME short position in 2021, like the paid advertisement
        claimed? The short positions were never closed, just spread around to other participants. The path to victory
        for GME shareholders is by investing in the ongoing turnaround of GameStop, being led by Ryan Cohen and team. If
        GameStop has full year profitability in 2023, it will be a reversal of the trend of the last 6 years. How can
        the media continue to spread negative sentiment about a company that, rather than failing, is actually thriving?
        They will contort themselves in all kinds of ways before they ever admit the truth that GameStop might actually
        be a serious company and a serious investment. Reality is coming soon, and it is going to smash through all of
        these false narratives that are regularly pushed by financial propaganda. This is a website that attempts to
        give perspective to this complicated situation.
    </p>


</div>