.control-root{
    display:flex;
    flex-direction: column;
}
.control-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 3px;
}
.control-button{
    border-radius: 15px;
    border: 2px solid rgba(128, 128, 128, 0.411);
    background-color: white;
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    min-width: 15px;
    min-height: 15px;
    margin-left: 2px;
    margin-right: 2px;
}
.control-button:hover{
    cursor: pointer;
    border: 2px solid var(--color-special);
}

.selected{
    background-color: rgba(204, 82, 165, 0.425);;
    border: 2px solid var(--color-special);
}
.not-selected{

}

.label{
    width: 100%;
    text-align: center;
    font-size: 0.7em;
    color: gray;
}