
<div class="chart-root" >

    <!-- <canvas baseChart class="chart" *ngIf="isMobile"
    height="400"
    [type]="'line'"
    [data]="lineChartDataMobile"
    [options]="lineChartOptionsMobile"
    [legend]="lineChartLegendMobile">
    </canvas> -->

    <div class="chart-container" [ngStyle]="chartContainerNgStyle">
        <canvas baseChart class="chart" *ngIf="!isMobile"
        [height]="canvasHeight" [width]="canvasWidth"
        [type]="'line'"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [legend]="lineChartLegend">
        </canvas>   
    </div>
</div>
