.app-component-root {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  min-width: 340px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-layout{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
