<div *ngIf="dataIsLoaded && !isMobile" class="app-component-root">
  <div class="container-grid">
    <app-controls class="app-controls-container"></app-controls>
    <app-timeline-items class="app-timeline-items"></app-timeline-items>
    <app-chart class="app-chart"></app-chart>
  </div>
</div>

<div class="app-component-root-mobile" *ngIf="dataIsLoaded && isMobile">
  <app-timeline-items class="app-timeline-items-mobile"></app-timeline-items>
</div>

<div class="app-component-root" *ngIf="!dataIsLoaded">
  <div class="lds-ripple" >
    <div></div>
    <div></div>
  </div>  
</div>

