<div class="app-component-root">
  <app-layout *ngIf="dataIsLoaded" class="app-layout"></app-layout>
  <div *ngIf="!dataIsLoaded" class="loading-container no-select">
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
    <div class="loading-message">
      {{ loadingMessage }}
    </div>
    
  </div>
</div>

<div style="background-color: white;" style="width: 2px; height: 2px; position: fixed;" *ngIf="!dataIsLoaded">
  <img src="assets/flaticon/story-black-and-white.png" alt="" style="width: 1px; height: 1px;">
  <img src="assets/flaticon/story.png" alt="" style="width: 1px; height: 1px;">
</div>