.mobile-top-bar-root{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 39px;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);;
}

.mobile-menu-item{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.menu-item-icon{
    margin: 2px;
    margin-left: 5px;
    margin-right: 5px;
    color: gray;
}
.menu-item-label{
    margin: 2px;
    margin-left: 10px;
}
.mobile-menu-item:hover{
    cursor: pointer;
}
.mobile-menu-item:hover > .menu-item-label{
    color: var(--color-special);
    font-weight: 500;
}


.expanded-menu{
    position: fixed;
    top: 40px;
    background-color: white;
    width: 100%;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.267);;
}













// // 



// .mobile-top-bar-root{
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     min-height: 34px;
//     top: 0;
//     background-color: rgb(255, 255, 255);
//     position: fixed;
//     border-bottom: 1px solid rgba(128, 128, 128, 0.3);
// }
// .mobile-bar-expanded{
//     position: fixed;
//     width: 100%;
//     // padding: 10px;
//     display:flex;
//     flex-direction: row;
//     top: 0;
//     background-color: rgb(255, 255, 255);
//     min-height: 35px;
//     top:35px;
//     border-bottom-left-radius: 10px;
//     border-bottom-right-radius: 10px;
// }


// .icon-container{
//     display:flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     min-width: 34px;
//     min-height: 34px;
//     width: 34px;
//     height: 34px;
// }




// .button{
//     border: 1px solid rgba(255, 255, 255, 0);
//     width: 100%;
//     height: 100%;
//     display:flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
// }
// .button:hover{
//     // border: 1px solid var(--color-special);
//     cursor: pointer;
//     color: var(--color-special);
// }

// .active-link{
//     // border: 1px solid var(--color-special);
//     color: var(--color-special);
// }

