<div class="page-root">
    <div class="page-content">
        <div class="page-title">
            Mainstream media:  liars with an agenda
        </div>
        <div class="page-subtitle">
            Wall Street benefits financially by using mainstream media to shape perceptions and deliver their preferred narrative that people will generally accept as the truth
        </div>
        <!-- <div class="page-date">
            April 10, 2024
        </div> -->

        <!-- Summary -->
        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <div>
                Cramer's Hedge Fund Tricks
                https://www.youtube.com/watch?v=r07Gg92YjOI
                Mar 21, 2012

                Citadel CEO Ken Griffin On Seeking Out Talent With Exceptional Problem Solving Skills | CNBC
                https://www.youtube.com/watch?v=5KOT0_I4Fvw
                Nov 27, 2017

                Virtu Financial CEO weighs in on payment for order flow regulation
                https://www.youtube.com/watch?v=K064hJQ7fdI
                Jun 8, 2022

            </div>
        </div>
    </div>
</div>