<div class="financials-root">

    <div class="title">
        GameStop Financials
    </div>

    <div style="width: 100%;">
        ASSETS:
        Current assets:	 	 	 	 
        Cash and cash equivalents	 	$	894.7	 	 	$	908.9	 
        Marketable securities	 	 	300.0	 	 	 	—	 
        Receivables, net of allowance of $2.2 and $3.5, respectively	 	 	75.6	 	 	 	99.6	 
        Merchandise inventories, net	 	 	676.9	 	 	 	734.8	 
        Prepaid expenses and other current assets	 	 	58.0	 	 	 	275.9	 
        Total current assets	 	 	2,005.2	 	 	 	2,019.2	 
        Property and equipment, net of accumulated depreciation of $983.0 and $990.1, respectively	 	 	119.3	 	 	 	146.8	 
        Operating lease right-of-use assets	 	 	583.0	 	 	 	554.3	 
        Deferred income taxes	 	 	17.6	 	 	 	16.7	 
        Other noncurrent assets	 	 	78.6	 	 	 	62.5	 
        Total assets	 	$	2,803.7	 	 	$	2,799.5	 
                             
        LIABILITIES AND STOCKHOLDERS’ EQUITY:
        Current liabilities:	 	 	 	 
        Accounts payable	 	$	378.0	 	 	$	217.4	 
        Accrued liabilities and other current liabilities	 	 	487.5	 	 	 	512.1	 
        Current portion of operating lease liabilities	 	 	194.9	 	 	 	194.0	 
        Current portion of long-term debt	 	 	11.0	 	 	 	8.9	 
        Total current liabilities	 	 	1,071.4	 	 	 	932.4	 
        Long-term debt, net	 	 	23.6	 	 	 	32.1	 
        Operating lease liabilities	 	 	405.7	 	 	 	367.4	 
        Other long-term liabilities	 	 	35.8	 	 	 	124.1	 
        Total liabilities	 	 	1,536.5	 	 	 	1,456.0	 
        Total stockholders’ equity	 	 	1,267.2	 	 	 	1,343.5	 
        Total liabilities and stockholders’ equity	 	$	2,803.7	 	 	$	2,799.5	 
                             
        
        GameStop Corp.
        Condensed Consolidated Statements of Cash Flows
        (in millions)
        (unaudited)
                  13 Weeks ended
        July 29, 2023	 	13 Weeks ended
        July 30, 2022
        Cash flows from operating activities:	 	 	 	 
        Net loss	 	$	(2.8	)	 	$	(108.7	)
        Adjustments to reconcile net loss to net cash flows from operating activities:	 	 	 	 
        Depreciation and amortization	 	 	12.6	 	 	 	15.3	 
        Stock-based compensation expense, net	 	 	(0.3	)	 	 	7.8	 
        Asset impairments	 	 	—	 	 	 	2.5	 
        Loss on disposal of property and equipment, net	 	 	—	 	 	 	1.2	 
        Other, net	 	 	(3.1	)	 	 	(0.2	)
        Changes in operating assets and liabilities:	 	 	 	 
        Receivables, net	 	 	43.4	 	 	 	3.0	 
        Merchandise inventories, net	 	 	83.5	 	 	 	179.5	 
        Prepaid expenses and other current assets	 	 	8.0	 	 	 	2.9	 
        Prepaid income taxes and income taxes payable	 	 	(1.1	)	 	 	(2.6	)
        Accounts payable and accrued liabilities	 	 	(245.1	)	 	 	(204.2	)
        Operating lease right-of-use assets and liabilities	 	 	(2.8	)	 	 	0.6	 
        Changes in other long-term liabilities	 	 	(1.4	)	 	 	(0.5	)
        Net cash flows used in operating activities	 	 	(109.1	)	 	 	(103.4	)
        Cash flows from investing activities:	 	 	 	 
        Proceeds from sale of digital assets	 	 	1.5	 	 	 	0.4	 
        Purchases of marketable securities	 	 	(102.0	)	 	 	—	 
        Proceeds from the maturities and sales of marketable securities	 	 	58.3	 	 	 	—	 
        Capital expenditures	 	 	(10.1	)	 	 	(20.5	)
        Other	 	 	0.1	 	 	 	—	 
        Net cash flows used in investing activities	 	 	(52.2	)	 	 	(20.1	)
        Cash flows from financing activities:	 	 	 	 
        Settlements of stock-based awards	 	 	—	 	 	 	(1.9	)
        Repayments of French term loans	 	 	(2.7	)	 	 	—	 
        Net cash flows used in financing activities	 	 	(2.7	)	 	 	(1.9	)
        Exchange rate effect on cash, cash equivalents and restricted cash	 	 	(0.6	)	 	 	(1.2	)
        Decrease in cash, cash equivalents and restricted cash	 	 	(164.6	)	 	 	(126.6	)
        Cash, cash equivalents and restricted cash at beginning of period	 	 	1,079.8	 	 	 	1,083.6	 
        Cash, cash equivalents and restricted cash at end of period	 	$	915.2	 	 	$	957.0	 
                             
        
        GameStop Corp.
        Condensed Consolidated Statements of Cash Flows
        (in millions)
        (unaudited)
                  26 Weeks ended
        July 29, 2023	 	26 Weeks ended
        July 30, 2022
        Cash flows from operating activities:	 	 	 	 
        Net loss	 	$	(53.3	)	 	$	(266.6	)
        Adjustments to reconcile net loss to net cash flows from operating activities:	 	 	 	 
        Depreciation and amortization	 	 	26.3	 	 	 	32.4	 
        Stock-based compensation expense, net	 	 	7.6	 	 	 	18.9	 
        Asset impairments	 	 	—	 	 	 	2.5	 
        Gain on sale of digital assets	 	 	—	 	 	 	(6.9	)
        Digital asset impairments	 	 	—	 	 	 	33.7	 
        Loss on disposal of property and equipment, net	 	 	0.6	 	 	 	1.6	 
        Other, net	 	 	(2.9	)	 	 	(5.0	)
        Changes in operating assets and liabilities:	 	 	 	 
        Receivables, net	 	 	79.0	 	 	 	39.3	 
        Merchandise inventories, net	 	 	0.4	 	 	 	169.6	 
        Prepaid expenses and other current assets	 	 	4.0	 	 	 	(27.4	)
        Prepaid income taxes and income taxes payable	 	 	(1.3	)	 	 	0.9	 
        Accounts payable and accrued liabilities	 	 	(267.4	)	 	 	(384.0	)
        Operating lease right-of-use assets and liabilities	 	 	(3.4	)	 	 	(15.8	)
        Changes in other long-term liabilities	 	 	(1.4	)	 	 	(0.5	)
        Net cash flows used in operating activities	 	 	(211.8	)	 	 	(407.3	)
        Cash flows from investing activities:	 	 	 	 
        Proceeds from sale of digital assets	 	 	2.8	 	 	 	77.3	 
        Purchases of marketable securities	 	 	(313.0	)	 	 	—	 
        Proceeds from the maturities and sales of marketable securities	 	 	270.5	 	 	 	—	 
        Capital expenditures	 	 	(19.2	)	 	 	(31.3	)
        Net cash flows (used in) provided by investing activities	 	 	(58.9	)	 	 	46.0	 
        Cash flows from financing activities:	 	 	 	 
        Settlements of stock-based awards	 	 	(0.1	)	 	 	(3.0	)
        Repayments of debt	 	 	(5.4	)	 	 	—	 
        Net cash flows used in financing activities	 	 	(5.5	)	 	 	(3.0	)
        Exchange rate effect on cash, cash equivalents and restricted cash	 	 	(4.6	)	 	 	1.4	 
        Decrease in cash, cash equivalents and restricted cash	 	 	(280.8	)	 	 	(362.9	)
        Cash, cash equivalents and restricted cash at beginning of period	 	 	1,196.0	 	 	 	1,319.9	 
        Cash, cash equivalents and restricted cash at end of period	 	$	915.2	 	 	$	957.0	 
    </div>

</div>