<div class="page-root">
    <div class="page-content">
        <div class="page-title">
            Roaring Kitty, aka DeepFuckingValue
        </div>
        <div class="page-subtitle">
            <a href="https://x.com/TheRoaringKitty" target="_blank">@TheRoaringKitty on X</a><br>
            <a href="https://www.reddit.com/user/deepfuckingvalue/" target="_blank">u/DeepFuckingValue on Reddit</a>
        </div>
        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>
                    Roaring Kitty (or RK), also known as DeepFuckingValue (or DFV), real name <a
                        href="https://en.wikipedia.org/wiki/Keith_Gill" target="_blank">Keith Gill</a>, is an individual
                    that confidently believes in his GME investment thesis
                </li>
                <li>
                    Starting with an approximately $50,000 investment in GME stock and GME call options in 2019, Roaring
                    Kitty was able to increase the value of his position to several hundred million dollars as of June
                    2024
                </li>


                <li>
                    The sentiment propagated by the mainstream financial media towards Roaring Kitty is consistently
                    negative and cynical <br>
                    Why?
                    <ul>
                        <li>Mainstream financial media is corrupted by powerful incumbents with a vested interest in the
                            share price of GME going down</li>
                        <li style="font-weight: 550; color: rgb(128, 0, 0);">The sentiment propagated by the mainstream
                            financial media is beneficial to incumbents with a financial interest in the share price of
                            GME going down</li>
                        <li>Mainstream financial media villifies Roaring Kitty when he is a subject of discussion</li>
                        <ul>
                            <li>The media insinuates that Roaring Kitty has taken actions that are problematic or maybe
                                even illegal</li>
                            <li>Mainstream financial media wants you to be angry at Roaring Kitty</li>
                        </ul>


                    </ul>
                </li>
            </ul>
        </div>
        <div class="page-section">
            <div class="section-heading">Timeline</div>
            <ul>
                <li>
                    Roaring Kitty began to gain popularity on social media in 2020 for his contrarian but confident GME
                    position
                </li>
                <li>
                    As investors joined in and bought GME, eventually the share price of GME started to rise
                    dramatically, which drew more attention, which caused more buying, until the eventual
                    <a [routerLink]="'/sneeze'">January 2021 sneeze</a>
                </li>
                <ul>
                    <li>For this, Keith Gill was questioned by the U.S. House Committee on Financial Services for his
                        involvement</li>
                    <li>
                        The movie Dumb Money (2023) tells the story of that series of events
                    </li>
                </ul>


                <li>Roaring Kitty / DeepFuckingValue disappeared from social media in 2021</li>
                <li>Roaring Kitty / DeepFuckingValue returned 3 years later in 2024 showing that not only did he
                    continue to hold his GME but in fact was able to increase the size of his position substantially to
                    over several hundred million dollars</li>
            </ul>
            <a href="https://www.youtube.com/watch?v=U1prSyyIco0" target="_blank"><img src="assets/dfv/rk-2024-06-07.png" alt=""></a>
        </div>
        <div class="page-section">
            <app-help-contribute></app-help-contribute>
        </div>
    </div>
</div>