<div class="page-root">
    <div class="page-content">
        <div class="page-title">
            Roaring Kitty, aka DeepFuckingValue
        </div>
        <div class="page-subtitle">
            <a href="https://x.com/TheRoaringKitty" target="_blank">@TheRoaringKitty on X</a>
        </div>
        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
        </div>
        <div class="page-section">
            <app-help-contribute></app-help-contribute>
        </div>
    </div>
</div>


