.controls-root{
    background-color: black;
    padding: 10px;
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    // justify-content: flex-start;
    align-items: flex-end;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgba(255, 255, 255, 0);
    // max-width: 300px;
}

.not-expanded{
    max-width: 32px;
}
.expanded{
    max-width: 300px;
    border-left: 1px solid var(--color-special);
    border-top: 1px solid var(--color-special);
    border-bottom: 1px solid var(--color-special);
}

.controls-expanded{
    width: 280px;
    display:flex;
    flex-direction: column;
}