<div class="about-root expanded">
    <div class="about-section" >
        <div class="content">
            <p>
                This website was created for the purpose of providing information about the
                GameStop saga from a chronological perspective.
            </p>
            <p>
                For more information about this website and contents of the GameStop story, join the discussion on
                <a href="https://lemmy.whynotdrs.org/c/gme_timeline" target="_blank">Lemmy</a>
            </p>
        </div>
    </div>
</div>