<div class="page-root">
    <div class="page-content">
        <div class="page-title">
            GameStop Company Ownership
        </div>
        <div class="page-section">
            <p>GameStop is unique because a significant portion (over 20%) of all issued shares are owned by registered shareholders.  No other company in history has had an ownership like this.</p>

        </div>
        <div class="chart-container" id="chartContainer" style="max-width: 650px; width: 100%;">
            <canvas baseChart class="chart" id="chartCanvas" [type]="'pie'" 
            [data]="pieChartData"
            [options]="pieChartOptions"
            [legend]="pieChartLegend">
            </canvas>   
        </div>
        <div class="page-section">
            <p>
                Per GameStop's <a href="https://investor.gamestop.com/node/20376/html" target="_blank">fiscal year 2023 10-K filing</a>:<br>
                As of March 20, 2024 there were 305,873,200 shares of GameStop's Class A common stock (GME) outstanding.
            </p>
            <p>
                "Of those outstanding shares, approximately 230.6 million were held by Cede & Co on behalf of the Depository Trust & Clearing Corporation (or approximately 75% of our outstanding shares) and approximately 75.3 million shares of our Class A common stock were held by registered holders with our transfer agent (or approximately 25% of our outstanding shares)."
            </p>
            <ul>
                <li>
                    25% of issued shares of GME are owned by directly registered shareholders
                </li>
                <li>The other 75% is held by Cede & Co on behalf of the DTCC, where all beneficially owned shares are held</li>
            </ul>
            <p>
                Definition of <a href="https://www.investopedia.com/terms/b/beneficialowner.asp" target="_blank"><i>benefitial owner</i>
                </a>:  "A person who enjoys the benefits of ownership even though the title to some form of property is in <b>another name</b>."
            </p>
            <p>
                In the case of shares of companies traded in the US markets that are not directly registered, "another name" is Cede & Co.
            </p>
            <p>
                As of May 24, 2024, GameStop completed an at the market equity offering, and sold 45,000,000 shares, increasing the total amount of shares outstanding to approximately 351,000,000.
            </p>
        </div>
        <div class="page-section">
            <div class="section-heading">Data sources</div>
            Data for this was obtained by <a href="https://www.computershared.net" target="_blank">Computershared.net</a> as well as <a href="https://www.drsgme.org/" target="_blank">DRSGME.org</a> 
        </div>
        
        
    </div>



</div>