<div class="page-root">
    <div class="page-content">
        <div class="page-title">
            GameStop Company Ownership
        </div>
        <div class="page-section">
            <p>
                Per GameStop's <a href="https://investor.gamestop.com/node/20376/html" target="_blank">fiscal year 2023 10-K filing</a>:<br>
                As of March 20, 2024 there were 305,873,200 shares of GameStop's Class A common stock (GME) outstanding.
            </p>
            <p>
                "Of those outstanding shares, approximately 230.6 million were held by Cede & Co on behalf of the Depository Trust & Clearing Corporation (or approximately 75% of our outstanding shares) and approximately 75.3 million shares of our Class A common stock were held by registered holders with our transfer agent (or approximately 25% of our outstanding shares)."
            </p>
            <ul>
                <li>
                    25% of issued shares of GME are owned by directly registered shareholders
                </li>
                <li>The other 75% is held by Cede & Co on behalf of the DTCC, where all beneficially owned shares are held</li>
            </ul>
            <p>
                Definition of <a href="https://www.investopedia.com/terms/b/beneficialowner.asp" target="_blank"><i>benefitial owner</i>
                </a>:  "A person who enjoys the benefits of ownership even though the title to some form of property is in <b>another name</b>."
            </p>
            <p>
                In the case of shares of companies traded in the US markets that are not directly registered, "another name" is Cede & Co.
            </p>
        </div>
        <div class="page-section">
            <div class="section-heading">Computershared.net</div>
            Check out <a href="https://www.computershared.net" target="_blank">Computershared.net</a> for an interactive breakdown of GME shareholders
        </div>
    </div>



</div>