.layout-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.layout-root-mobile{
  display:grid;
  grid-template-rows: 40px 1fr;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  min-width: 340px;
}

.mobile-top-bar{
  grid-row: 1 / span 1;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display:flex;
  flex-direction: column;
}

.router-outlet {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.router-outlet-mobile{
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  grid-row: 2 / span 1;
}



.app-sidebar {
  position: fixed;
  left: 0;
  // // top: 10px;
  // border-top-right-radius: 10px;
  // border-bottom-right-radius: 10px;
  z-index: 25;
}

.app-timeline-items-mobile {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.top-bar {
  width: 100%;
  // display:flex;
  // flex-direction: row;
}


.chart-loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fcf;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}