<div class="moass-alert-root">

    <a [routerLink]="'/moass'" class="link">
        <div class="alert-container">
            <div class="icon-container">
                <fa-icon [icon]="faTriangle" class="icon"></fa-icon>
            </div>
            <div class="link-container">
                MOASS alert
            </div>
            <div class="icon-container">
                <fa-icon [icon]="faTriangle" class="icon"></fa-icon>
            </div>
        </div>
    </a>

    
    
</div>