<div class="page-root">
    <div class="page-content">
        <div class="page-title">
            Social Media for GME shareholders
        </div>
        <div class="page-section">
            <div class="section-heading">
                Join the GME investor community!
            </div>
            <div>
                <p>
                    Looking for a great community for discussing GameStop, GME, DRS, and related topics?
                </p>
                <a href="https://mee6.xyz/i/xyGz2buGJR" target="_blank" class="community-button">

                    <img src="assets/icons/discord-icon.png" style="width:60px;height:60px;margin-right:20px;"
                        alt="DRSyourGME Public Discord">
                    DRSyourGME Public Discord
                </a>
                <a href="https://lemmy.whynotdrs.org/" target="_blank" class="community-button">

                    <img src="assets/icons/lemmy-icon.png" style="width:60px;height:60px;margin-right:20px;"
                        alt="DRSyourGME Public Discord">
                    DRSGME / WhyDRS Lemmy
                </a>
                <a href="https://www.reddit.com/r/teddy" target="_blank" class="community-button">

                    <img src="assets/icons/reddit-icon.png" style="width:60px;height:60px;margin-right:20px;"
                        alt="r/teddy">
                    r/Teddy
                </a>
                <a href="https://www.reddit.com/r/gme" target="_blank" class="community-button">

                    <img src="assets/icons/reddit-icon.png" style="width:60px;height:60px;margin-right:20px;"
                        alt="r/gme">
                    r/GME
                </a>
                <a href="https://www.reddit.com/r/gme_timeline/" target="_blank" class="community-button">

                    <img src="assets/icons/reddit-icon.png" style="width:60px;height:60px;margin-right:20px;"
                        alt="r/gme_timeline">
                    r/gme_timeline
                </a>
                <a href="https://x.com/gmetimeline" target="_blank" class="community-button">

                    <img src="assets/icons/x-twitter-logo.png" style="width:60px;height:60px;margin-right:20px;"
                        alt="gmetimline on X">
                    gmetimeline on X
                </a>
                <a href="https://x.com/i/communities/1682089524170571776" target="_blank" class="community-button">

                    <img src="assets/icons/x-twitter-logo.png" style="width:60px;height:60px;margin-right:20px;"
                        alt="DRSyourGME">
                    DRSyourGME community on X
                </a>

            </div>
        </div>
    </div>
</div>