<div class="page-root">
    <div class="page-content">
        <div class="page-title" style="padding: 0px;">
            Social Media for GME shareholders
        </div>
        <div class="page-section">

            <p>The GME shareholder social media community originally came together primarily on Reddit.  Over time, the community has continued to evolve and find its way onto other platforms.</p>

            <div class="list">
                <h3>On Discord</h3>
                <div>Engaging discord server with large presence of GME shareholders</div>
                <a href="https://mee6.xyz/i/xyGz2buGJR" target="_blank" class="community-button">

                    <img src="assets/icons/discord-icon.png" class="social-media-icon" alt="DRSyourGME Public Discord">
                    The DRS Discord
                </a>
            </div>


            <div class="list">
                <h3>GME YouTube and live streaming shows</h3>

                <p>
                    Tune in to The PP Show on X or YouTube, typically Monday Wednesday & Friday in the evening, for live
                    streaming community discussion about GME and related topics
                </p>
                <div style="margin-bottom: 5px;"></div>
                <a href="https://x.com/ThePPseedsShow" target="_blank" class="follow-x">

                    <img src="assets/icons/x-twitter-logo.png" class="social-media-icon" alt="The PP show on X">
                    @ThePPseedsShow on X
                </a>
                <a href="https://www.youtube.com/@ThePPseedsShow" target="_blank" class="follow-x">

                    <img src="assets/icons/youtube-icon.png" class="social-media-icon" alt="r/teddy">
                    @ThePPseedsShow on YouTube
                </a>
                <br>



                <div style="margin-bottom: 15px;"></div>
                <div>Richard Newton on YouTube</div>
                <a href="https://www.youtube.com/@RichardNewton" target="_blank" class="follow-x">

                    <img src="assets/icons/youtube-icon.png" class="social-media-icon" alt="The PP show on X">
                    @RichardNewton on YouTube
                </a>

                <div style="margin-bottom: 15px;"></div>
                <div>Roaring Kitty has lately not streamed regularly but did stream on June 7, 2024</div>
                <a href="https://www.youtube.com/@RoaringKitty" target="_blank" class="follow-x">

                    <img src="assets/icons/youtube-icon.png" class="social-media-icon" alt="The PP show on X">
                    @RoaringKitty on YouTube
                </a>
            </div>
            <div class="list">
                <h3>GME on X Spaces </h3>
                <p>
                    Follow some individuals that host <a href="https://help.x.com/en/using-x/spaces" target="_blank">X Spaces</a> on a regular basis for "talk radio" type of engagement
                
                </p>
                <a href="https://x.com/Badmojo6969" target="_blank" class="follow-x">

                    <img src="assets/icons/x-twitter-logo.png" class="social-media-icon" alt="DRSyourGME">
                    @Badmojo6969
                </a>

                <a href="https://x.com/magsonthemoon" target="_blank" class="follow-x">

                    <img src="assets/icons/x-twitter-logo.png" class="social-media-icon" alt="DRSyourGME">
                    @magsonthemoon
                </a>
                <a href="https://x.com/seymourbutts741" target="_blank" class="follow-x">

                    <img src="assets/icons/x-twitter-logo.png" class="social-media-icon" alt="DRSyourGME">
                    @seymourbutts741
                </a>
                
            </div>
            <div class="list">
                <h3>Federated Apps</h3>
                <div>
                    Participate in the nascent community-hosted <a href="https://en.wikipedia.org/wiki/Fediverse"
                        target="_blank">fediverse</a>
                </div>

                <a href="https://lemmy.whynotdrs.org/" target="_blank" class="community-button">

                    <img src="assets/icons/lemmy-icon.png" class="social-media-icon" alt="DRSyourGME Public Discord">
                    DRSGME / WhyDRS Lemmy
                </a>
            </div>

            <div class="list">
                <h3>gmetimeline.org</h3>
                <div>Social media pertaining to the gmetimeline.org website<br>
                    Interested in contributing to the development of this website?
                </div>
                <a href="https://x.com/gmetimeline" target="_blank" class="community-button">

                    <img src="assets/icons/x-twitter-logo.png" class="social-media-icon" alt="gmetimline on X">
                    @gmetimeline on X
                </a>
                <a href="https://www.reddit.com/r/gme_timeline/" target="_blank" class="community-button">

                    <img src="assets/icons/reddit-icon.png" class="social-media-icon" alt="r/gme_timeline">
                    r/gme_timeline subreddit
                </a>
            </div>
            <div class="list">
                <h3>Major subreddits</h3>
                <a href="https://www.reddit.com/r/superstonk" target="_blank" class="community-button">
                    <img src="assets/icons/reddit-icon.png" class="social-media-icon" alt="r/gme">
                    r/superstonk
                </a>
                <a href="https://www.reddit.com/r/gme" target="_blank" class="community-button">
                    <img src="assets/icons/reddit-icon.png" class="social-media-icon" alt="r/gme">
                    r/GME
                </a>
                <a href="https://www.reddit.com/r/teddy" target="_blank" class="community-button">

                    <img src="assets/icons/reddit-icon.png" class="social-media-icon" alt="r/teddy">
                    r/Teddy
                </a>
            </div>
            <!-- <div class="list">
                Tik Tok
            </div> -->
            <!-- https://www.tiktok.com/@cancelthisclothingco291 -->
        </div>
    </div>
</div>