<div class="page-root">
    <div class="page-content">
        <div class="page-title">
            Social Media for GME shareholders
        </div>
        <div class="page-section">
            <div class="section-heading" style="align-items: center; width: 100%;">
                Join the GME investor community!
            </div>
            <p>Here are some community locations outside of the major subreddits</p>
            <div class="list">
                <a href="https://mee6.xyz/i/xyGz2buGJR" target="_blank" class="community-button">

                    <img src="assets/icons/discord-icon.png" class="social-media-icon" alt="DRSyourGME Public Discord">
                    DRSyourGME Public Discord
                </a>
            </div>
            <div class="list">
                <a href="https://x.com/i/communities/1682089524170571776" target="_blank" class="community-button">

                    <img src="assets/icons/x-twitter-logo.png" class="social-media-icon" alt="DRSyourGME">
                    DRSyourGME
                </a>
                <a href="https://x.com/i/communities/1717018737734287566" target="_blank" class="community-button">

                    <img src="assets/icons/x-twitter-logo.png" class="social-media-icon" alt="The PP Show">
                    ThePPShow PP’s
                </a>

                <a href="https://x.com/gmetimeline" target="_blank" class="community-button">

                    <img src="assets/icons/x-twitter-logo.png" class="social-media-icon" alt="gmetimline on X">
                    gmetimeline on X
                </a>

            </div>
            <div class="list">
                <a href="https://www.reddit.com/r/teddy" target="_blank" class="community-button">

                    <img src="assets/icons/reddit-icon.png" class="social-media-icon" alt="r/teddy">
                    r/Teddy
                </a>
                <a href="https://www.reddit.com/r/gme" target="_blank" class="community-button">

                    <img src="assets/icons/reddit-icon.png" class="social-media-icon" alt="r/gme">
                    r/GME
                </a>
                <a href="https://www.reddit.com/r/gme_timeline/" target="_blank" class="community-button">

                    <img src="assets/icons/reddit-icon.png" class="social-media-icon" alt="r/gme_timeline">
                    r/gme_timeline
                </a>
            </div>
            <div class="list">
                <a href="https://lemmy.whynotdrs.org/" target="_blank" class="community-button">

                    <img src="assets/icons/lemmy-icon.png" class="social-media-icon" alt="DRSyourGME Public Discord">
                    DRSGME / WhyDRS Lemmy
                </a>
            </div>
        </div>
    </div>
</div>