
.sidebar-column{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.sidebar-button{
    background-color: black;
    padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgba(255, 255, 255, 0.1);
    // max-width: 300px;
    margin-top: 10px;
    color: gray;
    min-width: 35px;
}

.sidebar-expanded{
    display:flex;
    flex-direction: column; 
    width: 100%; 
    max-width: 300px;
    min-width: 260px;
}


.sidebar-button:hover{
    border: 1px solid var(--color-special);
    border-left: none;
    // cursor: pointer;
    // color: var(--color-special);
}



.sidebar-item{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
}
.sidebar-item:hover{
    cursor: pointer;
    color: var(--color-special);
    font-weight:500;
}
.sidebar-item-title{
    font-size: 1.2em;
    margin-left: 10px;
}
.sidebar-item-icon, fa-icon{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.active-link{
    // border: 1px solid var(--color-special);
    color: var(--color-special);
}
