<div class="sidebar-column">
    <!-- <div class="sidebar-button shadow"  [routerLink]="'timeline'" [routerLinkActive]="'active-link'">
        <fa-icon [icon]="faChartLine"></fa-icon>
    </div> -->
    <!-- <div class="sidebar-button shadow" [routerLink]="'financials'" 
    [routerLinkActive]="'active-link'">
        <fa-icon [icon]="faCoins"></fa-icon>
    </div> -->
    <!-- <div class="sidebar-button shadow" [routerLink]="'ownership'" 
    [routerLinkActive]="'active-link'">
        <fa-icon [icon]="faChartPie"></fa-icon>
    </div> -->
    <app-about ></app-about>
</div>
