<div class="page-root">
    <div class="page-content" style="width: 100%;">
        <div class="page-title" stsyle="width:100%;">
            Outcome of GameStop's completion of 2 at-the-market equity offering programs
        </div>
        <div class="page-subtitle">
            GameStop raised more than $3 billion in cash from 2 ATMs in exchange for shares
        </div>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>GameStop has taken advantage of the rising market price of GME shares by issuing and selling
                    shares for cash</li>
                <li>On May 24, GameStop completed
                    <a href="https://gamestop.gcs-web.com/news-releases/news-release-details/gamestop-completes-market-equity-offering-program-1"
                        target="_blank">
                        the first of 2 ATMs
                    </a>, raising $0.933 billion
                </li>
                <li>On June 11, GameStop completed
                    <a href="https://gamestop.gcs-web.com/news-releases/news-release-details/gamestop-completes-market-equity-offering-program-2"
                        target="_blank">
                        the second of 2 ATMs
                    </a>, raising an additional $2.137 billion
                </li>
                <li>"Having a strong balance sheet especially in times of economic uncertainty is a strategic
                    advantage." <br>-- Ryan Cohen, GameStop 2024 Annual Meeting (June 17)</li>
            </ul>
        </div>
        <div class="page-section">
            <div class="section-heading">
                Table of changes to GME equity
            </div>
            <table class="table" *ngIf="!isMobile">
                <tr class="top-row">
                    <td>Date</td>
                    <td>Action</td>
                    <td>Shares issued and sold</td>
                    <td>Average price per share</td>
                    <td>Cash raised</td>
                    <td>Stockholders' equity</td>
                    <td>Total shares outstanding</td>
                    <td>Book value per share</td>
                    <td>Voting power dilution</td>
                </tr>
                <tr>
                    <td>As of May 4</td>
                    <td>Earnings release</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>$1.3 B</td>
                    <td>306.2 M</td>
                    <td>$4.25</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>May 24</td>
                    <td>ATM completion</td>
                    <td>45 M</td>
                    <td>$20.74</td>
                    <td>$0.93 B</td>
                    <td>$2.23 B</td>
                    <td>351.2 M</td>
                    <td>$6.35</td>
                    <td>87 % of May 4th equivalent</td>
                </tr>
                <tr>
                    <td>June 11</td>
                    <td>ATM completion</td>
                    <td>75 M</td>
                    <td>$28.49</td>
                    <td>$2.14 B</td>
                    <td>$4.37 B</td>
                    <td>426.2 M</td>
                    <td>$10.25</td>
                    <td>72 % of May 4th equivalent</td>
                </tr>
            </table>
            <table class="table" *ngIf="isMobile">
                <tr class="top-row">
                    <td>Date</td>
                    <td>Stockholders' equity</td>
                    <td>Total shares outstanding</td>
                    <!-- <td>Book value per share</td>
                    <td>Voting power dilution</td> -->
                </tr>
                <tr>
                    <td>May 4</td>
                    <td>$1.3 B</td>
                    <td>306.2 M</td>
                    <!-- <td>$4.25</td>
                    <td>--</td> -->
                </tr>
                <tr>
                    <td>May 24 ATM completion</td>
                    <td>$2.23 B</td>
                    <td>351.2 M</td>
                    <!-- <td>$6.35</td>
                    <td>87 % of May 4th equivalent</td> -->
                </tr>
                <tr>
                    <td>June 11 ATM completion</td>
                    <td>$4.37 B</td>
                    <td>426.2 M</td>
                    <!-- <td>$10.25</td>
                    <td>72 % of May 4th equivalent</td> -->
                </tr>
            </table>
        </div>
    </div>
</div>