<div class="items-container" *ngIf="!isMobile && !isListView">
    <app-timeline-item *ngFor="let timelineItem of displayedTimelineItems" [id]="itemId(timelineItem)" [item]="timelineItem" class="timeline-item">
    </app-timeline-item>
</div>
<div class="items-container-list-view"  *ngIf="!isMobile && isListView">
    <app-timeline-list-item *ngFor="let timelineItem of timelineItemsDescending" [id]="itemId(timelineItem)" [item]="timelineItem" class="timeline-item-list-view">
    </app-timeline-list-item>
</div>

<div class="items-container-mobile" *ngIf="isMobile">
    <app-timeline-item *ngFor="let timelineItem of timelineItemsDescending" [id]="itemId(timelineItem)" [item]="timelineItem" class="timeline-item-mobile">
    </app-timeline-item>
</div>