.timeline-item-root{
    // max-height: 100%;
    // max-height: 270px;
    // min-width: 400px;
    min-height: 180px;
    min-width: 150px;
    margin-top: 3px;
    overflow-y: auto;
    // margin-bottom: 3px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(221, 221, 221, 1);
    color: 'rgba(128,128,128,0.5)';
    min-height: 80px;

    position: relative;
    z-index: 10;
    display:flex;
    flex-direction: column;
}
.timeline-item-root-mobile{
    // max-width: 100%;
    background-color: black;
    width: 100%;
    // flex-grow: 2;
    padding: 5px;
    min-height: 40px;
}
.top-row{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.not-expanded {
    // min-height: 150px;
    min-width: 200px;
}

.expanded {
    margin: 5px;
    border-radius: 5px;
    min-width: 340px;
    max-width: 600px;
    // max-width: 100%;
}

.close-button{
    border-radius: 4px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.close-button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}



.date {
    font-weight: bold;
    font-size: 0.9em;
    margin-bottom: 5px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.link-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 3px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.logo{
    width: 28px; 
    height: 28px; 
    margin-right: 10px;
}

.link{
    display:flex;
    flex-direction: row;
}
/* unvisited link */
a:link {
    color: rgb(196, 217, 255);
}

/* visited link */
a:visited {
    color: rgb(196, 217, 255);
}

/* mouse over link */
a:hover {
    color: #8ebf42;
}

/* selected link */
a:active {
    color: #800000;
}

.image-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    // max-height: 400px;
}
.image{
    // height: 100%;
        max-height: 400px;
        max-width: 400px;
    border-radius: 5px;
}

.split-button{

}


.split-button:hover{
    cursor:pointer;
    font-weight: bold;
    color: rgba(128,0,0,1);
}