<div [ngClass]="isMobile ? 'timeline-item-root-mobile' : 'timeline-item-root'" class="not-expanded" *ngIf="!item.isSelected" [ngStyle]="ngStyle" (click)="onClickItem(item)">
    <div class="top-row">
        <div class="date">
            {{ date(item.dateYYYYMMDD) }}
        </div>
        <div *ngIf="item.gmePrice !== -1" style="font-size: 0.8em; margin-bottom: 10px; color: rgb(221, 221, 221);">
            <span style="font-weight: bold; color: rgb(0, 136, 0);">${{ item.gmePrice.toFixed(2) }}</span>
        </div>
    </div>
    <div>
        {{item.title}}
    </div>

</div>
<div [ngClass]="isMobile ? 'timeline-item-root-mobile' : 'timeline-item-root expanded'" *ngIf="item.isSelected" [ngStyle]="ngStyle">
    <div class="date" >
        <div>
            {{ date(item.dateYYYYMMDD) }}
        </div>
        <div (click)="onClickClose()" class="close-button">
            <img src="assets/close-button.png" style="width:16px;height:16px;" alt="Close">
        </div>
    </div>
    <div *ngIf="item.gmePrice !== -1" style="font-size: 0.8em; margin-bottom: 10px; color: rgb(221, 221, 221);">
        GME price per share:  <span style="font-weight: bold; color: rgb(138, 214, 138);">${{ item.gmePrice.toFixed(2) }}</span> <span *ngIf="item.gmePricePreSplit" style="margin-left: 5px;">(pre-split: <span style="color: rgb(138, 214, 138);">${{ item.gmePricePreSplit}}</span>)</span>
    </div>
    <div>
        {{item.title}}
    </div>
    <div style="overflow-y: auto;">
        <p>
            {{item.description}}
        </p>
    </div>
    <div *ngFor="let link of item.urls" class="link">
        <div *ngIf="!linkTypeIsOther(link.type)" class="link-container">
            <img *ngIf="link.type === 'LEMMY'" src="assets/lemmy-icon.png" class="logo" alt="Lemmy discussion" >
            <img *ngIf="link.type === 'REDDIT'" src="assets/reddit-icon.png" class="logo" alt="Reddit" >
            <img *ngIf="link.type === 'WIKIPEDIA'" src="assets/wikipedia-logo.png" class="logo" alt="Wikipedia" >
            <img *ngIf="link.type === 'YOUTUBE'" src="assets/youtube-icon.png" class="logo" alt="YouTube" >
            <img *ngIf="link.type === 'DOCUMENT'" src="assets/document-icon.png" class="logo" alt="Document" >
            <img *ngIf="link.type === 'NEWS'" src="assets/newspaper-icon.png" class="logo" alt="News" >
            <img *ngIf="link.type === 'GAMESTOP'" src="assets/gs-logo.png" class="logo" alt="GameStop" >
            <img *ngIf="link.type === 'X-TWITTER'" src="assets/x-twitter-logo.png" class="logo" alt="X-TWITTER" >
            <a [href]="link.url" *ngIf="link.type !== 'LEMMY'" target="_blank">{{link.label}}</a>
            <a [href]="link.url" *ngIf="link.type === 'LEMMY'" target="_blank">Discuss this on Lemmy</a>
        </div>
        <div *ngIf="linkTypeIsOther(link.type)">
            <a [href]="link.url" target="_blank">{{link.label}}</a>
        </div>
    </div>
    <div *ngIf="item.hasImg" class="image-container">
        <img [src]="item.imgSrc" class="image">
    </div>
</div>
