.root{
    // width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.chart-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}