<div class="page-root">
    <div class="page-content">
        <div class="page-title">
            MOASS
        </div>
        <div class="page-subtitle">
            "Mother of all short squeezes"
        </div>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>
                    A <a href="https://www.investopedia.com/terms/s/shortsqueeze.asp" target="_blank">short squeeze</a>
                    is an event that can happen when a high amount of short interest is faced with the rising price of
                    the underlying stock
                </li>
                <li>
                    MOASS is a term used to refer to an unfathomably large short squeeze event pertaining to GME and
                    some other stocks
                </li>
                <li>Many GME shareholders believe that the circumstances pertaining to GME are conducive to an
                    inevitable MOASS event</li>
                <li>Critics of GME express great skepticism towards this idea</li>
            </ul>
        </div>

        <div class="page-section">
            <p>
                The <a [routerLink]="'/sneeze'">sneeze of January 2021</a> was a phenomenal and dramatic event that
                exposed a certain reality to the world that something about GME was amiss.
            </p>
            <p>On social media, the rising price of GME attracted attention towards GME, which created more interest in
                GME, which caused more buying of GME, which caused the market share price of GME to rapidly accelerate.

            </p>
            <p>Wall Street panicked and took dramatic action to stop this from happening.  Wall Street incumbents colluded to prevent retail investors from purchasing any more shares of GME.  A multitude of brokerages disabled purchasing of shares of GME and other stocks, while allowing sales of GME.
                This went on for just long enough so that the incumbents could more favorably reposition themselves in
                this situation.</p>

            <p>What was happening then was the beginnings of a MOASS.</p>
            <p>For GME short sellers, MOASS is a cataclysmic event that represents complete loss of everything, were it to occur.  Naturally, short sellers do not want this event, however probable or improbable, to ever happen.</p>
            <p>The risk of a short squeeze continues to exist</p>
            <p>This is happening because large Wall Street incumbents with larges amounts of money places very large bets on the outcome of GameStop going bankrupt.</p>
            <p>GameStop is at virtually zero risk of bankruptcy.</p>
            <p>Those that bet on GameStop's demise (and took other actions to help arrive at this outcome) are now faced with a bet on a company that has no real risk of further deterioration, but do not have the ability to close their bet.</p>
            <p>If any participant that is short on GME wants to close their position, it would require buying shares of GME at the current market price until their position is closed.  This act of buying shares of GME at the market risks igniting MOASS from happening, and so there is no real way for them to exit their bet.</p>

            <div class="page-section">
                <app-help-contribute></app-help-contribute>
            </div>

        </div>

    </div>