<div [ngClass]="ngClass" *ngIf="!item.isSelected" [ngStyle]="ngStyle" (click)="onClickItem(item)">
    <div class="top-row">
        <div class="date">
            {{ date(item.dateYYYYMMDD) }}
        </div>
        <div *ngIf="item.gmePrice !== -1" style="font-size: 0.8em; margin-bottom: 10px; color: rgb(221, 221, 221);">
            <span style="font-weight: bold; color: rgb(0, 136, 0);">${{ item.gmePrice.toFixed(2) }}</span>
        </div>
    </div>
    <div>
        {{item.title}}
    </div>
</div>
<div [ngClass]="ngClass" [ngStyle]="ngStyle" *ngIf="item.isSelected">
    <div class="date">
        <div>
            {{ date(item.dateYYYYMMDD) }}
        </div>
        <div (click)="onClickClose()" class="close-button">
            <img src="assets/icons/close-button.png" style="width:16px;height:16px;" alt="Close">
        </div>
    </div>
    <div *ngIf="item.gmePrice !== -1" style="font-size: 0.8em; margin-bottom: 10px; color: rgb(221, 221, 221);">
        GME price per share:
        <span style="font-weight: bold; color: rgb(138, 214, 138);">${{ item.gmePrice.toFixed(2) }}</span>
        <span *ngIf="item.gmePricePreSplit" style="margin-left: 5px;">(pre-<span class="split-button" (click)="onClickSplit()">split</span>:
            <span style="color: rgb(138, 214, 138);">${{
                item.gmePricePreSplit}}</span>)
        </span>
    </div>
    <div>
        {{item.title}}
    </div>
    <div class="link" *ngIf="item.localArticle !== null" style="margin-top:10px;">
        <div class="link-container">
            <img src="assets/icons/newspaper-icon.png" class="logo" alt="Document">
            <a [routerLink]="item.localArticle.url" style="font-size:1.5em;">{{ item.localArticle.label}}</a>
        </div>
    </div>
    <div style="overflow-y: auto;">
        <p>
            {{item.description}}
        </p>
    </div>
    <div *ngIf="item.quarterlyFinancialResult" style="margin-bottom: 10px;"  >
        <app-quarterly-result [result]="item.quarterlyFinancialResult"></app-quarterly-result>
    </div>
    <div *ngFor="let link of item.urls" class="link">
        <div *ngIf="!linkTypeIsOther(link.type)" class="link-container">
            <img *ngIf="link.type === 'LEMMY'" src="assets/icons/lemmy-icon.png" class="logo" alt="Lemmy discussion">
            <img *ngIf="link.type === 'REDDIT'" src="assets/icons/reddit-icon.png" class="logo" alt="Reddit">
            <img *ngIf="link.type === 'WIKIPEDIA'" src="assets/icons/wikipedia-logo.png" class="logo" alt="Wikipedia">
            <img *ngIf="link.type === 'YOUTUBE'" src="assets/icons/youtube-icon.png" class="logo" alt="YouTube">
            <img *ngIf="link.type === 'DOCUMENT'" src="assets/icons/document-icon.png" class="logo" alt="Document">
            <img *ngIf="link.type === 'NEWS'" src="assets/icons/newspaper-icon.png" class="logo" alt="News">
            <img *ngIf="link.type === 'GAMESTOP'" src="assets/icons/gs-logo.png" class="logo" alt="GameStop">
            <img *ngIf="link.type === 'X-TWITTER'" src="assets/icons/x-twitter-logo.png" class="logo" alt="X-TWITTER">
            <a [href]="link.url" *ngIf="link.type !== 'LEMMY'" target="_blank">{{link.label}}</a>
            <a [href]="link.url" *ngIf="link.type === 'LEMMY' && link.label === ''" target="_blank">Thread on Lemmy</a>
            <a [href]="link.url" *ngIf="link.type === 'LEMMY'" target="_blank">{{link.label}}</a>
        </div>
        <div *ngIf="linkTypeIsOther(link.type)" class="link-container">
            <a [href]="link.url" target="_blank">{{link.label}}</a>
        </div>
    </div>
    <div *ngIf="item.hasImg" class="image-container">
        <img [src]="item.imgSrc" class="image">
    </div>
</div>